<!DOCTYPE html>
<html ng-app="app" ng-strict-di>
<<<<<<< HEAD
    <head>
        <title>Nannydash</title>
        <%= csrf_meta_tags %>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700" rel="stylesheet">
        <script src="https://use.fontawesome.com/0410a70b31.js"></script>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
=======
  <head>
    <title>NannyDash</title>
    <%= csrf_meta_tags %>
>>>>>>> 429e4d6e44c51d08add540268f68da21c6125ac6

    <body>

<<<<<<< HEAD
        <app></app>
=======
  <body>

    <app></app>
>>>>>>> 429e4d6e44c51d08add540268f68da21c6125ac6

    </body>
</html>
