<div class="container">
  <!-- ******************************
   Top Navigation
  ******************************* -->
  <header>
    <nav>
      <h4>Nanny<span>Dash</span></h4>
    </nav>
  </header>
  <!-- ******************************
   Side Navigation
  ******************************* -->
  <div class="all-container">
    <aside class="aside-nav">
      <!-- Directories Nav Section -->
      <section class="directories">
        <div class="title">
          <%= image_tag("sort.png", :alt => "Directories Icon") %>
          <h1>Directories</h1>
        </div>
        <button ui-sref="home.babysitter-directory" type="button">Babysitters</button>
        <button ui-sref="nannyDash.family" type="button">Parents</button>
      </section>
      <!-- Pending Applications Nav Section -->
      <section class="pending-apps">
        <div class="title">
          <%= image_tag("plus.png", :alt => "Directories Icon") %>
          <h1>Pending Applications</h1>
        </div>
        <button type="button"><span>9</span> | Babysitters</button>
        <button type="button"><span>4</span> | Parents</button>
      </section>
      <!-- Jobs Center Nav Section -->
      <section class="jobs">
        <div class="title">
          <h1>Jobs Center</h1>
        </div>
        <button type="button"><span>0</span> | New Jobs</button>
        <button type="button"><span>23</span> | All Jobs</button>
      </section>
      <!-- Messages Nav Section -->
      <section class="messages">
        <div class="title">
          <%= image_tag("mail.png", :alt => "Directories Icon") %>
          <h1>Messaging Center</h1>
        </div>
        <button type="button"><span>4</span> | Messages</button>
      </section>
    </aside>
    <!-- ******************************
    Content Container
    ******************************* -->
    <main>
      <div class="main-container">
        <ui-view></ui-view>
      </div>
    </main>
  </div>
</div>
