// Colors
$purple: #42282F;
$fadedPurple: rgba(66, 0, 18, 0.63);
$green: #74A588;
$lightGreen: #93baa2;
$cream: #D6CCAD;
$lightCream: #f2edde;
$orange: #DC9C76;
$red: #D6655A;
$babyGreen: #f2f7f4;
$yellow: #efba59;
