<div class="directory-container nanny-directory-container familyApp-container" id="nanny-family-list">
  <div class="list-wrapper">

    <div class="search">
      <h2>List of All Active Babysitters</h2>
      <input type="text" ng-model="searchBox" placeholder="Search">
    </div>

    <div class="list">
      <div class="title-container dropdown-container">
        <h4>Total: {{$ctrl.families.length}}</h4>

        <!-- <div class="county">
          <h4>{{$ctrl.selectedCounty || "All Counties"}}, NC</h4>
          <i ng-class="{'arrowActive': $ctrl.dropIt}" ng-click="$ctrl.dropdown()" class="fa fa-angle-down"></i>
          <div ng-show="$ctrl.dropIt" class="counties">
            <li ng-click="$ctrl.selectCounty('')">All Counties</li>
            <ul ng-repeat="county in $ctrl.counties">
              <li ng-click="$ctrl.selectCounty(county)">{{county}}</li>
            </ul>
          </div>
        </div> -->

      </div>

    <div class="family-table">
      <ul class="table-head">
        <li ng-click=babysitters.sortBy('first_name')>First Name</li>
        <li ng-click=babysitters.sortBy('last_name')>Last Name</li>
        <li ng-click=babysitters.sortBy('age')>Age</li>
        <li ng-click=babysitters.sortBy('rate')>Rate</li>
        <li>Email</li>
      </ul>

      <div class="table-body">
        <ul ng-click="babysitters.userClick(babysitter.sitter_id)" dir-paginate="babysitter in babysitters.babysitters | filter: searchBox |itemsPerPage: 5">
            <li>{{babysitter.first_name}}</li>
            <li>{{babysitter.last_name}}</li>
            <li ng-init="babysitters.calculateAge(babysitter.birthday)">{{babysitters.age}}</li>
            <li>${{babysitter.hourly_rate}}</li>
            <li>{{babysitter.email}}</li>
        </ul>
      </div>
    </div>
    <dir-pagination-controls max-size="5"></dir-pagination-controls>
  </div>
</div>
