<div class="new-jobs-info-wrapper familyApp-job" ng-init="job.init()">
  <div class="directory-container new-nanny-job-info">

    <div class="list">
      <div class="title-container">
        <div class="envelope">
          <h4>Job Details</h4>
          <h4>Posted: {{job.familyJob.date_posted}}</h4>
        </div>
      </div>
    </div>

    <div ng-show="job.familyJob.is_assigned === true && job.familyJob.confirmed === false" class="confirmation">
      <h4>Please confirm your job with {{job.familyJob.sitter_name}}.</h4>
      <button ng-click="job.confirm(job.familyJob.job_id)" type="button">Confirm!</button>
    </div>

    <section class="basic-info">
      <!-- Family -->
      <label for="name">Date:</label>
      <input type="date" ng-model="job.jobDate" value="{{job.jobDate}}" ng-model-options="{ updateOn: 'blur' }" ng-change="job.convertDate('date', job.jobDate)">
      <!-- Phone Field -->
      <label for="phone">Start Time:</label>
      <input type="time" ng-model="job.newStartTime" value="{{job.newStartTime}}" ng-model-options="{ updateOn: 'blur' }" ng-change="job.convertTime('start_time', job.newStartTime)">
      <!-- Email Field -->
      <label for="email">End Time:</label>
      <input type="time" ng-model="job.newEndTime" value="{{job.newEndTime}}" ng-model-options="{ updateOn: 'blur' }" ng-change="job.convertTime('end_time', job.newEndTime)">
      <!-- Street Field -->
      <label for="street">Requested Babysitter</label>
      <input type="text" ng-model="job.familyJob.sitter_name" ng-model-options="{ updateOn: 'blur' }" ng-change="$ctrl.updateCurrent( 'street', $ctrl.job.street)">
      <!-- City Field -->
      <label ng-show="job.familyJob.confirmed" for="city">Confirmed Babysitter</label>
      <input ng-show="job.familyJob.confirmed" type="text" ng-model="job.familyJob.sitter_name" ng-model-options="{ updateOn: 'blur' }" ng-change="$ctrl.updateCurrent( 'city', $ctrl.job.city)">
      <!-- State Field -->
      <label for="state">Notes:</label>
      <textarea type="text" ng-model="job.familyJob.notes" ng-change="$ctrl.updateCurrent( 'notes', $ctrl.job.notes)"></textarea>
    </section>

    <section class="key-info">
      <label for="name">Stage</label>
      <p ng-class="{sitter: job.familyJob.is_assigned === false}">Waiting on Sitter</p>
      <p ng-class="{parent: job.familyJob.is_assigned === true && job.familyJob.confirmed === false}">Waiting on Parent</p>
      <p ng-class="{confirmed: job.familyJob.confirmed === true}">Confirmed</p>
      <div class="line"></div>
      <button class="request-button yellowRequest"type="button">Save Changes</button>
      <button ng-click="$ctrl.popup()" class="request-button" ng-class="{'yellowRequest': $ctrl.visibility || $ctrl.jobInfo.is_assigned}" type="button">Delete Job</button>
    </section>
    <div ng-class="{'visible': $ctrl.visibility}" class="popup" role="alert">
    	<div class="popup-container">
        <a ng-click="$ctrl.popup()" class="close img-replace"></a>
    		<p>Are you sure you want to delete this job?</p>
    		<ul class="popup-buttons">
    			<li ng-click="$ctrl.assign($ctrl.jobInfo.job_id)">Yes</li>
    			<li ng-click="$ctrl.popup()">No</li>
    		</ul>
    	</div>
    </div>

  </div>
</div>
