<div class="directory-container message">
  <div class="search no-search">
    <h1 ui-sref="conversations">Conversations</h1><span>></span><h1 ng-click="message.backToMessages(message.message.conversation_id)"> Messages with {{message.message.sender_name}}</h1><span>></span><h1> {{message.message.subject}}</h1>
  </div>
  <div class="list">
    <div class="message-bar">
      <h4><span>From:</span> {{message.message.sender_name}}</h4>
      <h4><span>Sent:</span> {{message.message.created_at}}</h4>
    </div>
    <div class="message-container">
      <button type="button" ng-click="message.replyShow = !message.replyShow"><i class="fa fa-share" aria-hidden="true"></i>Reply</button>
      <h4>{{message.message.subject}}</h4>
      <p>{{message.message.body}}</p>
    </div>
    <div class="reply" ng-show="message.replyShow">
      <textarea class="text-body" ng-model="body" name="reply" rows="8" cols="40">
      </textarea>
      <div class="buttons">
        <button type="button" ng-click="message.deleteBtn()"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
        <button ng-click="message.replyMessage(body, message.message.subject)" type="button"><i class="fa fa-share"></i>Send</button>
      </div>
    </div>
    <div class="sentMsg" ng-show="message.sentMsg">
      <h1>Sent!</h1>
    </div>
  </div>
</div>
