<div class="nanny-directory-container upcoming-jobs" id="new-nanny-jobs">
  <div class="list-wrapper">

    <div class="search">
      <h2>All Upcoming Jobs</h2>
    </div>

    <div class="list">
      <div class="title-container dropdown-container">
        <h4>Total: {{$ctrl.newJob.length}}</h4>
      </div>

    <div class="family-table">
      <ul class="table-head" id="new-jobs-header">
        <li>Job Date</li>
        <li>Time</li>
        <li>Requested Babysitter</li>
        <li>Stage</li>
      </ul>
      <div class="table-body">
        <ul ng-click="upcomingJobs.jobClick(job.job_id)" dir-paginate="job in upcomingJobs.jobs | itemsPerPage: 5">
          <li>{{upcomingJobs.getDate(job.date)}}</li>
          <li>{{job.start_time}} - {{job.end_time}}</li>
          <li>{{job.sitter_name}}</li>
          <li>
            <p>Waiting on Sitter</p>
            <p>Waiting on Parent</p>
            <p>Confirmed</p>
          </li>
        </ul>
      </div>
    </div>
    <dir-pagination-controls max-size="5"></dir-pagination-controls>
  </div>
</div>
