<div class="directory-container">

  <div class="family-list-wrapper">

    <div class="search">
      <h1>Families</h1>
      <input type="text" ng-model="searchBox">
    </div>
    <div class="list">
      <div class="title-container">
        <h4>Total: {{$ctrl.families.length}}</h4>
        <div class="county">
          <h4>Wake County, NC</h4>
          <i class="fa fa-angle-down"></i>
          <div class="counties">
            <ul>
              <li>Bertie County</li>
              <li>Anson County</li>
              <li>Wake County</li>
            </ul>
          </div>
        </div>
      </div>

    <div class="family-table">
      <ul class="table-head">
        <li>First Name</li>
        <li>Last Name</li>
        <li>Email</li>
        <li>About</li>
        <li>Status</li>
      </ul>

      <div class="table-body">
        <ul ng-repeat="family in $ctrl.families | filter: searchBox">
          <family ng-click="$ctrl.select()" family="family"></family>
        </ul>
      </div>

    </div>
  </div>
</div>
