.all-jobs-page {
    .directory-container {
        .sitter {
            background: $red;
            color: #fff;
        }

        .parent {
            background: $green;
            color: #fff;
        }

        .confirmed {
            background: $yellow;
            color: #fff;
        }

        p {
            text-align: center;
            background: #eee;
            border-radius: 4px;
            padding: 7px;
            color: #aaa;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }
    }
}
