.aside-nav {
  background: #EDEDED;
  height: 100%;
  width: 350px;
  box-sizing:border-box;
  padding-top: 10px;
  float: left;

  section {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 10px;
    text-align: center;

    .title {
      margin-bottom: 25px;
      padding: 15px 0;
      background: #E2E2E2;

      img {
        width: 17px;
        display: inline-block;
        margin-right: 5px;
      }

      h1 {
        color: #555;
        font-size: 20px;
        font-weight: 100;
        display: inline-block;
      }
    }

    button:nth-child(2) {
      margin-right: 10px;
    }

    button {
      background: #BDBDBD;
      border-radius: 7px;
      border: transparent;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      font-weight: 300;
      width: 150px;
      padding: 12px 0;
      font-weight: 300;
      letter-spacing: .5px;
      outline: none;

      span {
        font-weight: 500;
        letter-spacing: 1px;
      }
    }
  }
}
