.aside-nav {
  background: $lightGreen;
  height: 100%;
  width: 325px;
  box-sizing:border-box;
  padding-top: 10px;
  float: left;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  @include media(desktop) {
    width: 100%;
    height: 170px;
  };
  @include media(tablet) {
    height: 305px;
  };
  @include media(mobile) {
    height: 290px;
  };
  @include media(smallMobile) {
    height: 560px;
  };

  section {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 10px;
    text-align: center;
    @include media(desktop) {
      width: 25%;
      float: left;
    };
    @include media(tablet) {
      width: 50%;
    };
    @include media(smallMobile) {
      width: 100%;
    };

    .title {
      margin-bottom: 25px;
      padding: 15px 0;
      background: $green;
      @include media(mobile) {
        margin-bottom: 15px;
      };

      img {
        width: 17px;
        display: inline-block;
        margin-right: 5px;
      }

      h1 {
        color: #fff;
        font-size: 20px;
        font-weight: 100;
        display: inline-block;
        @include media(mobile) {
          font-size: 17px;
        };
      }
    }

    button:nth-child(2) {
      margin-right: 10px;
    }

    button {
      background: $lightCream;
      border-radius: 7px;
      border: transparent;
      color: #777;
      cursor: pointer;
      font-size: 16px;
      font-weight: 300;
      width: 135px;
      padding: 12px 0;
      font-weight: 300;
      letter-spacing: .5px;
      outline: none;
      @include media(desktop) {
        font-size: 14px;
        width: 90px;
      };
      @include media(mobile) {
        font-size: 13px;
        width: 80px;
      };
      @include media(smallMobile) {
        font-size: 17px;
        width: 45%;
      };

      span {
        font-weight: 500;
        letter-spacing: 1px;
        @include media(desktop) {
          display: none;
        };
      }
    }
  }
}
