html, body {
  height:100% !important;
  width: 100% !important;
  margin: 0;
  box-sizing:border-box;
}

.container {
  height: 100%;
  margin: 0 auto;

  .all-container {
    overflow: hidden;
    position: relative;
    min-height: 100%;
    min-width: 100%;

    main {
      padding-left: 355px;
      padding-top: 25px;
      @include media(desktop) {
        padding: 195px 35px 35px;
      };
      @include media(tablet) {
        padding: 330px 25px 25px;
      };
    }
  }
}
