.dashboard-container {

  h1 {
    font-size: 24px;
    font-weight: 100;
    color: #666;
    text-align: center;
    padding: 10px 0 45px;
  }

  section {
    width: 50%;
    float: left;
    font-weight: 100;
    padding: 0 15px;
    @include media(smallTablet) {
      width: 100%;
    };
    @include media(smallMobile) {
      padding: 0;
    };

    .title-container {
      background: $red;
      padding: 10px;
      border-radius: 7px;
      font-size: 17px;
      color: #fff;

      .buttons {
        float: right;
        position: relative;
        top: -20px;
        @include media(smallMobile) {
          display: none;
        };

        button {
          background: #eea199;
          border: transparent;
          border-radius: 4px;
          padding: 5px 7px;
          letter-spacing: .5px;
          color: #fff;
        }
      }
    }

    table {
      width: 98%;
      table-layout: fixed;
      margin: 0 auto;

      tr {
        border-bottom: #ddd solid .5px;

        &:not(:first-child):hover {
          background: $babyGreen;
          cursor: pointer;
        }

        th {
          font-size: 16px;
          text-align: left;
          color: #777;
          padding: 10px 10px 15px;

          input {
            width: 40px;
            margin-left: 5px;
            border-radius: 2px;
            border: #ddd solid 1px;
            outline: none;
            color: #444;
          }

          &:nth-child(3) {
            @include media(smallMobile) {
              display: none;
            };
          }
        }

        .dateRed, .dateGreen, .readTrue {
          white-space: nowrap;
          overflow:hidden !important;
          text-overflow: ellipsis;
          position: absolute;
          top: 5px;
          border-radius: 4px;
          width: 90%;
          padding: 5px;
        }

        .dateRed {
          background: $brick;
          color: #fff;
        }

        .dateGreen, .readTrue {
          background: $green;
          color: #fff;
        }

        .readTrue {
          width: 52%;

          &:before {
            font-family: fontawesome;
            content: "\f0e0";
            font-size: 14px;
            margin-right: 3px;
          }
        }

        td {
          padding: 10px;
          font-size: 14px;
          font-weight: 100;
          color: #888;
          white-space: nowrap;
          overflow:hidden !important;
          text-overflow: ellipsis;
          position: relative;

          &:nth-child(3) {
            @include media(smallMobile) {
              display: none;
            };
          }

          .sitter {
            background: $brick;
            color: #fff;
          }

          .parent {
            background: $green;
            color: #fff;
          }

          .confirmed {
            background: $yellow;
            color: #fff;
          }

          h6 {
            position: absolute;
            padding: 5px;
            border-radius: 4px;
            top: 5px;
          }
        }
      }
    }
  }

  .applications, .messages {
    padding-top: 35px;
  }

  .new-jobs {
    @include media(smallTablet) {
      padding-top: 35px;
    };
  }

  .messages {
    @include media(smallTablet) {
      padding-bottom: 35px;
    };
  }
}

#agency-dashboard {
  nav button {
    cursor: pointer;
    outline: none;
    &:hover {
      background: #ecab35;
    }
  }
}
