.directory-container {
  float: right;
  width: 100%;
  padding-right: 25px;
  @include media(desktop) {
    padding: 0 25px 25px;
  };

  .search {
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 20px;

    h1 {
      cursor: pointer;
    }

    p {
      position: absolute;
      right: 39px;
      bottom: 605px;
      font-size: 13px;
      background: #a64e45;
      padding: 5px 8px;
      border-radius: 4px;
      color: #fff;
    }

    span, h2 {
      float: left;
    }

    span {
      font-size: 28px;
      font-weight: 100;
      color: $purple;
      padding: 3px 15px 0;
    }
    h2 {
      font-size: 22px;
      font-weight: 100;
      color: $purple;
      padding-top: 4px;

      &:nth-child(3) {
        padding-right: 7px;
      }
    }

    &:before {
      font-family: fontawesome;
      position: absolute;
      content: "\f002";
      font-size: 16px;
      color: $purple;
      right: 219px;
      top: 52px;
      @include media(desktop) {
        right: 257px;
        top: 222px;
      };
      @include media(tablet) {
        top: 357px;
        right: 246px;
      };
    }

    h1 {
      float: left;
      font-size: 24px;
      font-weight: 100;
      color: $purple;
      padding-top: 4px;
    }

    input {
      float: right;
      width: 220px;
      background: #f5f5f5;
      border: $purple solid 1px;
      border-radius: 7px;
      padding: 6px;
      padding-left: 35px;
      outline: none;
      font-size: 15px;
      font-weight: 300;
      color: $purple;
      letter-spacing: .5px;
    }
  }
  .list {
    .title-container {
      overflow: hidden;
      background: $red;
      padding: 10px;
      border-radius: 7px;
      font-size: 17px;
      color: #fff;
      font-weight: 100;
      margin-bottom: 10px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &.dropdown-container {
        overflow: visible;
      }

      .message-row {
        position: absolute;
        background: #eea199;
        padding: 5px 8px;
        border-radius: 4px;
        right: 6px;
        bottom: 6px;
        cursor: pointer;

        &:hover {
          background: $yellow;
        }

        h4 {
          float: left;
          padding: 0;
        }

        i {
          float: left;
          padding-right: 5px;
        }
      }

      h4 {
        float: left;
        padding-top: 3px;
        padding-right: 7px;
      }

      .county {
        float: right;
        position: relative;
        z-index: 999999;

        .fa-angle-down {
          cursor: pointer;
          font-size: 21px;
          border: #fff solid 1px;
          padding: 0px 5px;
          border-radius: 1px;
          z-index:9999999;
          &:hover {
            background: #f8f8f8;
            color: #BDBDBD;
          }
          &.arrowActive {
            background: #f8f8f8;
            color: #bdbdbd;
          }
        }

        .counties {
          color: #fff;
          position: absolute;
          top: 22px;
          right: 0px;
          background-color: #f8f8f8  ;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          display: block;
          z-index: 99999;

          li {
            color: #AAA;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            z-index: 999999;
            cursor: pointer;
            &:hover {
              background-color: #BDBDBD;
              color: white;
            }
          }
        }
      }
    }

    table {
      width: 98%;
      table-layout: fixed;
      margin: 0 auto;

      .red {
        background: $red !important;
        color: #fff;
      }

      .green {
        background: $green !important;
        color: #fff;
      }

      tr {
        border-bottom: #ddd solid .5px;
        position: relative;

        &:not(:first-child):hover {
          background: $babyGreen;
          cursor: pointer;
        }

        th, td {
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
        }

        th {
          font-size: 16px;
          text-align: left;
          color: #777;
          padding: 10px 10px 15px;

          input {
            width: 40px;
            margin-left: 5px;
            border-radius: 2px;
            border: #ddd solid 1px;
            outline: none;
            color: #444;
          }
        }

        td {
          padding: 15px 10px;
          font-size: 14px;
          font-weight: 100;
          color: #888;
          position: relative;
        }

        .readTrue {
          background: $green;
          color: #fff;
          border-radius: 4px;
          width: 50px;
          position: absolute;
          text-align: center;
          padding: 5px;
          bottom: 10px;

          &:before {
            font-family: fontawesome;
            content: "\f0e0";
            font-size: 12px;
            margin-right: 3px;
          }
        }

        .cpr {
          background: #eee;
          padding: 5px 10px;
          border-radius: 7px;
        }
      }
    }

    .message-table {
      td:nth-child(1), th:nth-child(1) {
        width: 18%;
        position: relative;

        h6 {
          background: #eee;
          width: 30px;
          padding: 7.5px;
          text-align: center;
          border-radius: 50%;
          position: absolute;
          bottom: 7px;
        }
      }

      td:nth-child(3), th:nth-child(3) {
        width: 38%;
      }
    }

    .messages-table {
      td:nth-child(3), th:nth-child(3) {
        width: 40%;
      }

      td:nth-child(5), th:nth-child(5) {
        width: 12%;
      }

      td:nth-child(6), th:nth-child(6) {
        width: 6%;
      }
    }

    .pagination {
      margin: 0 auto;
      display: table;
      padding-top: 30px;

      .active {
        background-color: #eee;
        padding: 6px 8px;
        border-radius: 5px;
      }

      li {
        display: inline-block;
        padding: 0 8px;

        &:first-child {
          margin-right: 5px;
        }

        &:last-child {
          margin-left: 5px;
        }

        a {
          text-decoration: none;
          color: #888;
        }
      }
    }
  }
}
