.directory-container {
  float: right;
  width: 100%;
  padding-right: 25px;

  .search {
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 20px;

    span, h2 {
      float: left;
    }

    span {
      font-size: 28px;
      font-weight: 100;
      color: #aaa;
      padding: 3px 15px 0;
    }
    h2 {
      font-size: 22px;
      font-weight: 100;
      color: #666;
      padding-top: 4px;

      &:nth-child(3) {
        padding-right: 7px;
      }
    }

    &:before {
      font-family: fontawesome;
      position: absolute;
      content: "\f002";
      font-size: 16px;
      color: #BDBDBD;
      right: 219px;
      top: 52px;
    }

    h1 {
      float: left;
      font-size: 24px;
      font-weight: 100;
      color: #666;
      padding-top: 4px;
    }

    input {
      float: right;
      width: 220px;
      background: #eee;
      border: #BDBDBD solid 1px;
      border-radius: 7px;
      padding: 6px;
      padding-left: 35px;
      outline: none;
      font-size: 15px;
      font-weight: 300;
      color: #666;
      letter-spacing: .5px;
    }
  }
  .list {
    .title-container {
      overflow: hidden;
      background: #BDBDBD;
      padding: 10px;
      border-radius: 7px;
      font-size: 17px;
      color: #fff;
      font-weight: 100;
      margin-bottom: 10px;

      h4 {
        float: left;
        padding-top: 3px;
        padding-right: 7px;
      }

      .county {
        float: right;
        position: relative;

        .fa-angle-down {
          font-size: 21px;
          border: #fff solid 1px;
          padding: 0px 5px;
          border-radius: 1px;

          &:hover {
            background: #fff;
            color: #BDBDBD;
          }
        }

        .counties {
          display: none;
          position: absolute;
          background: #BDBDBD;
          border-radius: 7px;
          color: #fff;

          ul {

            li {
              display: inline-block;
            }
          }
        }
      }
    }

    table {
      width: 98%;
      table-layout: fixed;
      margin: 0 auto;

      .red {
        background: red !important;
        color: #fff;
      }

      .green {
        background: green !important;
        color: #fff;
      }

      tr {
        border-bottom: #ddd solid .5px;

        th {
          font-size: 16px;
          text-align: left;
          color: #9B9B9B;
          padding: 10px 10px 15px;

          input {
            width: 40px;
            margin-left: 5px;
            border-radius: 2px;
            border: #ddd solid 1px;
            outline: none;
            color: #444;
          }
        }

        td {
          padding: 15px 10px;
          font-size: 14px;
          font-weight: 100;
          color: #aaa;
        }

        .cpr {
          background: #eee;
          padding: 5px 10px;
          border-radius: 7px;
        }
      }
    }

    .pagination {
      margin: 0 auto;
      display: table;
      padding-top: 30px;

      .active {
        background-color: #eee;
        padding: 6px 8px;
        border-radius: 5px;
      }

      li {
        display: inline-block;
        padding: 0 8px;

        // &:first-child, &:last-child {
        //   border: #aaa solid .5px;
        //   padding: 0px 9px;
        //   font-size: 21px;
        //   border-radius: 1px;
        // }

        &:first-child {
          margin-right: 5px;
        }

        &:last-child {
          margin-left: 5px;
        }

        a {
          text-decoration: none;
          color: #aaa;
        }
      }
    }
  }
}
