.family-babysitter-profile {
  padding: 10px 40px;
  
  section {
    p {
      float: none;
      width: 74%;
      display: inline-block;
    }

    label {
      float: none;
      display: inline-block;
    }
  }
}
