.familyApp-container {
  padding: 25px 40px !important;

  h2 {
    float: left;
    padding-top: 7px;
    font-size: 24px;
    color: $purple !important;
    font-weight: 100;
  }

  .no-search {
    &:before {
      display: none;
    }
  }

  .search {
    width: 100% !important;

    &:before {
      right: -481px !important;
      top: 7px !important;
    }

    input {
      width: 220px !important;
    }
  }

  .sentMsg {
    padding: 5px 10px !important;

    h1 {
      color: #fff !important;
      padding: 0 !important;
    }
  }
}
