.family-header {
  align-items: center;
  background: #bdbdbd;
  border-radius: 5px;
  color: white;    height: 35px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 85%;
}

div.family-list-wrapper {
  padding-top: 40px;
  width: 66%;
  font-family: 'Helvetica', sans-serif;
  float: right;
  font-weight: 100;
  color: #9b9b9b;
  table {
    border-collapse: collapse;
  }
  tr {
    border-bottom: 1px solid #ddd;
  }
  th {
    font-weight: 400;
    font-size: 18px;
    padding: 10px 20px 10px 0;
    text-align: left;
  }
  td {
    padding: 10px 20px 10px 0;
    cursor: pointer;
    span {
      text-align: center;
      color:white;
      padding: 5px;
      border-radius: 5px;
      background: #EA043A;
      &.active {
        background: #6BB317;
      }

    }
  }
}
