#family-profile-wrapper {
  display: flex;
  font-style: 'Helvetica', sans-serif;

  .directory-container {
    width: 100%;
    .family-link {
      cursor: pointer;
      transition: all .5s ease;
      &:hover {
        transform: translateY(-5px);
      }
    }
    .envelope {
      align-items: center;
      border-radius: 5px;
      color:white;
      cursor: pointer;
      display: flex;
      font-weight: 100;
      height: 35px;
      justify-content: flex-end;
      span {
        background: url(asset_path('messages.svg'));
        background-size: cover;
        height: 20px;
        width: 20px;
        color: white;
      }
    }
    .list {
      .title-container {
        margin-bottom: 35px !important;
      }
      .message {
        float: right;
        position: relative;

        .fa-angle-down {
          font-size: 21px;
          border: #fff solid 1px;
          padding: 0px 5px;
          border-radius: 1px;

          &:hover {
            background: #fff;
            color: #BDBDBD;
          }
        }
      }
    }

    .profile-container {
      display: flex;
      width: 100%;
      span {
        background: $green;
        border-radius: 7px;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-weight: 100;
        margin: 10px 0;
        padding: 5px 10px;
        text-align: center;
        width: 100%;
        &.inactive {
          background: $red;
        }
      }
      img {
        width: 100%;
      }
    }

    .basic-info {
      flex-grow: 1;
      padding: 10px;
      width: 50%;
      textarea {
        width: 65%;
        resize: none;
        background: #eee;
        border: #BDBDBD solid 1px;
        border-radius: 7px;
        padding: 6px;
        outline: none;
        font-size: 13px;
        font-weight: 300;
        color: #666;
        letter-spacing: .5px;
      }

      .save,
      button.delete {
        border-radius: 4px;
        border: transparent;
        color: #fff;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 100;
        margin: 10px 0 0 26%;
        outline: none;
        padding: 7px 10px;
        width: 65%;
      }
      .save {
        background-color: $yellow !important;
        &.saved {
          background-color: $yellow;
        }
        &.disabled {
          background: #9E9E9E !important;
          cursor: default;
        }
        &:hover {
          background: $yellow;
        }
        &.updated {
          content: "Saved!";
        }
      }
      .delete {
        background: $grey;
        &:hover {
          background: $red;
        }
        &.deleted {
          background: $red;
          cursor: default;
        }
      }
    }

    section {
      width: 30%;
      float: left;
      overflow: hidden;

      &:nth-child(4) {
        width: 40%;
      }

      &:nth-child(5) {
        width: 20%;
      }

      label {
        width: 25%;
        display: inline-block;
        &:last-of-type {
          position: relative;
          top: -60px;
        }
      }

      input {
        width: 65%;
        display: inline-block;
      }

      h1 {
        font-size: 21px;
        font-weight: 100;
        padding-bottom: 17px;
      }

      h2 {
        font-size: 18px;
        font-weight: 100;
        padding-bottom: 17px;
      }
    }
  }
}

// Popup Modal
.visible .popup-container {
  transform: translateY(0);
}
.popup {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(86, 86, 86, 0.69);
  &.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }
}
.popup-container {
  transform: translateY(-40px);
  transition-property: transform;
  transition-duration: 0.3s;
  position: relative;
  width: 90%;
  max-width: 400px;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 20% auto;
  .close {
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    transition: all 0.4s ease-out;
    &::before {
      background-color: $grey;
      content: '';
      height: 3px;
      left: 8px;
      position: absolute;
      top: 12px;
      transform: rotate(45deg);
      width: 14px;
    }
    &::after {
      background-color: $grey;
      content: '';
      height: 3px;
      position: absolute;
      right: 8px;
      top: 12px;
      transform: rotate(-45deg);
      width: 14px;
    }
    &:hover {
      transform: rotate(90deg);
    }
  }
  p {
    color: $grey;
    padding: 3em 1em;
  }
  ul {
    display: flex;
    cursor: pointer;
    li {
      flex-grow: 1;
      padding: 20px;
      color: white;
      &:first-child {
        background: $green;
        border-radius: 0 0 0 .25em;
        &:hover {
          background: lighten($green, 10%);
        }
      }
      &:last-child {
        background: $red;
        border-radius: 0 0 .25em 0;
        &:hover {
          background: lighten($red, 10%);
        }
      }
    }
  }
}
