@import 'partials/setup/variables';

header {
  background: $purple;
  padding: 30px 20px !important;

  nav {
    overflow: hidden;

    h4 {
      font-size: 18px;
      color: #fff;

      .fa {
        margin-right: 5px;
      }

      &:nth-child(1) {
        float: left;
        cursor: pointer;
      }

      &:nth-child(2) {
        float: right;
      }

      span {
        font-style: italic;
      }
    }
  }
}
