.jobs-list-details-page {
  input {
    cursor: default;
  }
    .directory-container {
        .title-container {
            justify-content: center;

            h2,
            label {
                margin: 0 5px;
            }

            .basic-info {
                width: 70%;
            }
        }

        .name {
            width: 30%;

            input {
                font-size: 1rem;
            }
        }
    }

    .delete.deleteButton {
        background-color: $brick !important;
        border: none;
        color: white;
        cursor: pointer;
        font-family: Roboto;
        font-size: 1.1rem;
        padding: 3px;
        text-shadow: 1px 1px 1px #a06d0f;
        width: 73%;
        position: relative;
        left: 25%;
        z-index: 2;
    }

    .delete.deleteButton:hover {
        background-color: $red !important;
    }

    section.basic-info {
        width: 70%;

        label.jobsListDetailsNotes {
            position: relative;
            background: white;
        }

        #jobDetailsNotes {
            resize: none;
            width: 73%;
            background: white;
        }
    }

    div.search::before {
        display: none;
    }
    @import 'jobs-list-details-mobile';
}
