@media (max-width: 520px) {
    .header-bar {
        justify-content: space-around;
        font-size: 1.3rem;
    }

    h2.slogan {
        display: none;
    }

    h2.slogan-mobile {
        display: flex;
        text-decoration: none;
        letter-spacing: 2px;
        color: #3d3d3d;
        width: 60%;
        text-align: center;
        margin: 20px auto 0;
        font-family: cursive;
        font-size: 1.2rem;
    }

    .user-groups-container {
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        font-size: 1.2rem;

        .user-groups {
            width: 100%;
        }
    }

    .preview-image-container {
        height: 125px;
    }

    .icon-container {
        display: none;
    }
}
