@media (max-width: 400px) {
    .topThreeHeader {
        flex-direction: column;
        align-items: center;

        .newAgencyTablet {
            width: 100%;
        }

        .returningUser {
            text-align: center;
            width: 33%;
        }
    }

    .explanatoryHeader {
        width: 50%;
        text-align: center;
        align-self: center;
    }
}
