@media only screen and (max-width: 960px) {
    .header-bar {
        justify-content: space-around;
        font-size: 1.3rem;
    }

    .topThreeHeader {
        width: 90%;
        flex-direction: row-reverse;

        .newAgency {
            display: none;
        }

        img {
            height: 150px;
        }

        .newAgency,
        .returningUser {
            width: 30%;
        }

        .newAgencyTablet {
            display: block;
            width: 30%;
            line-height: 2rem;
            color: #9B9B9B;
        }
    }

    .main {
        flex-direction: column;
        align-items: center;

        .explanatoryGroup {
            display: flex;
            width: 100%;
            padding: 0 2%;

            .explanatoryHeader {
                margin: 0;
                font-size: 1.3rem;
            }

            .explanatoryParagraph {
                margin-bottom: 3%;
                line-height: 1.5rem;
                margin-top: 0;
            }
        }

        .previewImageContainer {
            width: 100%;
        }
    }
}
