.newMessage {
  .search {
    margin: 0 auto;
    display: table;

    &:before {
      display: none;
    }
  }

  .message {
    padding: 0 20px;

    .subject {
      margin-bottom: 25px;
      position: relative;

      .arrow-left {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right:10px solid #eee;
        position: absolute;
        left: 75px;
        z-index: 2;
        top: 38px;
        @include media(largeMobile) {
          display: none;
        };
      }

      .users {
        background: #eee;
        color: #666;
        padding: 25px;
        width: 370px;
        position: absolute;
        z-index: 1;
        left: 85px;
        top: -1px;
        overflow: scroll;
        height: 362px;
        border-radius: 7px;
        box-shadow: $green 1px 2px 1px 1px;
        box-shadow: #aaa 0px 1px 6px 0px;
        @include media(largeMobile) {
          width: 100%;
          position: relative;
          left: 0;
          top: 0;
        };

        .user-group:nth-child(2) {
          h2 {
            @include media(mobile) {
              padding-top: 15px;
            };
          }
        }

        .user-group {
          width: 50%;
          float: left;
          @include media(mobile) {
            width: 100%;
          };

          h2 {
            font-size: 16px;
            font-weight: 400;
            padding-bottom: 15px;
          }

          p {
            font-size: 14px;
            padding: 10px 0;
            cursor: pointer;
          }
        }
      }

      i {
        font-size: 23px;
        position: absolute;
        top: -3px;
        left: 32px;
        color: $red;
        cursor: pointer;
      }

    }

    .subject:first-child {
      input {
        background: #f5f5f5;
      }
    }

    label, textarea, input {
      width: 100%;
      display: block;
    }

    label {
      font-size: 18px;
      font-weight: 100;
      margin-bottom: 17px;
    }

    textarea, input {
      font-family: 'Roboto', sans-serif;
      display: inline-block;
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 100;
      padding: 5px;
      border-radius: 4px;
      border: #aaa solid .5px;
      background: #fff;
      outline: none;
      color: #666;
    }

    button {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 100;
      background: #74A588;
      border: transparent;
      border-radius: 4px;
      padding: 10px;
      color: #fff;
      width: 150px;
      display: block;
      margin: 0 auto;
      margin-top: 15px;
    }
  }
}
