#nanny-profile {
  .title-container {
    margin-top: 2%;
    h1 {
      color: white;
    }
  }
  .name {
    padding-right: 20px;
    img {
      width: 100%;
      padding-left: 20px;
    }
    form {
      padding: 20px;
      #image-upload {
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        width: 0.1px;
        z-index: -1;
      }
      label {
        background: $yellow;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        font-size: 18px;
        height: 40px;
        margin-bottom: 10px;
        padding: 9px 10px;
        text-align: center;
        &:hover {
          background: #e2a338;
        }
      }
      img {
        width: 35px;
        position: relative;
        top: 30px;
        left: 10px;
      }
      input {
        &.submit-photo {
          background: $green !important;
          border: transparent;
          color: white;
          cursor: pointer;
          font-size: 18px;
          height: 40px;
          padding: 7px 10px;
          &:hover {
            background: rgb(87, 138, 111) !important;
          }
        }
      }
    }
  }
  .basic-info {
    width: 50%;
  }
  .key-info {
    width: 25%;
  }
  .cert {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    span {
      color: white;
      background: rgb(181, 181, 181);
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      margin: 1%;
      width: 150px;
      border-radius: 4px;
      padding: 7px 10px;
    }
  }
}
