.nanny-directory-container {
  .title-container {
    align-items: center;
    background: #D6655A;
    border-radius: 7px;
    color: #fff;
    display: flex;
    font-size: 17px;
    font-weight: 100;
    height: 50px;
    justify-content: space-between;
    overflow: hidden;
    padding: 10px;
    position: relative;
  }
}

#new-nanny-jobs {
  padding: 0 80px;
  .family-table {
    ul {
      display: flex;
      li:nth-child(3) {
        width: 25%;
      }
      li:nth-child(5) {
        width: 20%;
      }
    }
  }
  div.title-container {
    height: 40px;
  }
  div.search {
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 20px;
    width: 220px;
    margin-left: auto;
    input {
      width: 100%;
      background: #f5f5f5;
      border: #42282F solid 1px;
      border-radius: 7px;
      padding: 6px;
      outline: none;
      font-size: 15px;
      height: 30px;
      font-weight: 300;
      color: #42282F;
      letter-spacing: .5px;
    }
  }
}

.new-nanny-job-info {
  padding: 30px 10%;
  div.search {
    padding-right: 1em;
    padding-bottom: 30px;
  }
  div.list,
  fieldset {
    padding: 0 1em;
  }

  .key-info.scheduled-jobs {
    padding-right: 40px;
    border-right: 1px solid #eee;
  }
  .request-button {
    background: $brick !important;
    border-radius: 4px;
    border: transparent;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 20px 0;
    outline: none;
    padding: 7px 10px;
    text-shadow: 1px 1px 1px darken($brick, 30%) !important;
    width: 100% !important;
    &:hover {
      cursor: pointer;
      background: $red !important;
      text-shadow: 1px 1px 1px darken($red, 30%) !important;
    }
    &.yellowRequest {
      background: $yellow !important;
      cursor: default;
      text-shadow: 1px 1px 1px darken($yellow, 30%);
    }
  }
}
.logOutButton {
  cursor: pointer;
  outline: none;
  &:hover {
    background: darken($yellow, 10%);
  }
}

@include media(mobile) {
  #new-nanny-jobs {
    padding: 0 15px !important;
    div.search {
      width: 100%;
    }
    div.title-container {
      margin-bottom: 5px;
    }
    .posted {
      display: none;
    }
    li:nth-of-type(1) {
      width: 30% !important;
    }
    li:nth-of-type(2) {
      width: 30% !important;
    }
    li:nth-of-type(3) {
      width: 40% !important;
    }
  }
}
