.nanny-directory-container {
  .title-container {
    overflow: hidden;
    background: #D6655A;
    padding: 10px;
    border-radius: 7px;
    font-size: 17px;
    color: #fff;
    font-weight: 100;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 80px 15px;
    height: 50px;
  }
  .family-table {
    margin: 10px 90px;
  }
}

#new-nanny-jobs {
  ul {
    display: flex;
    li:nth-child(3) {
      width: 25%;
    }
    li:nth-child(5) {
      width: 20%;
    }
  }
}

.new-nanny-job-info {
  div.search {
    padding-right: 1em;
    padding-bottom: 30px;
  }
  div.list,
  fieldset {
    padding: 0 1em;
  }

  fieldset {
    .key-info {
      padding-right: 40px;
      border-right: 1px solid #eee;
    }
  }
  .request-button {
    background: $grey;
    border-radius: 4px;
    border: transparent;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: -50px 87px 40px 10px;
    outline: none;
    padding: 7px 10px;
    text-shadow: 1px 1px 1px darken($grey, 30%);
    width: 20%;
    &:hover {
      cursor: pointer;
      background: $yellow !important;
      text-shadow: 1px 1px 1px darken($yellow, 30%);
    }
    &.yellowRequest {
      background: $yellow !important;
      cursor: default;
      text-shadow: 1px 1px 1px darken($yellow, 30%);
    }
  }
}
.logOutButton {
  cursor: pointer;
  outline: none;
  &:hover {
    background: darken($yellow, 10%);
  }
}
