#nanny-messages{
  div.list {
    margin: 2% 5%;
  }
}
.messages-header {
  cursor: default;
  display: flex;
  font-size: 24px;
  font-weight: 100;
  padding: 40px 0px;
  h1 {
    cursor: pointer;
    transition: all .5s ease;
    &:hover {
      color: lighten($purple, 20%) !important;
      transform: translateY(-5px);
    }
    &:last-of-type {
      cursor: default;
      &:hover {
        transform: none;
      }
    }
  }
  span {
    align-self: center;
    padding: 0px 15px;
  }
}
#nanny-family-list {
  .messages-table {
    tr {
      width: 100%;

      th:nth-child(1) {
        width: 13%;
      }
      th:nth-child(2) {
        width: 18%;
      }
      th:nth-child(3) {
        width: 32%;
      }
      th:nth-child(4) {
        width: 20%;
      }
      th:nth-child(5) {
        width: 10%;
      }
      th:nth-child(6) {
        width: 7%;
        text-align: center;
      }
      td:nth-child(6) {
        h6 {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
.view-nanny-message {
  padding: 20px 80px;
  .search {
    span {
      margin: 0;
    }
  }
}
.newMessage {
  padding: 1% 20% !important;
}
