upcoming-job-info {
  .scheduled-jobs {
    button {
      margin: 10px 0 10px 0 !important;
    }
  }
  button.confirmation-status.request-button {
    cursor: default !important;
    background-color: $red !important;
    &:hover {
      cursor: default !important;
      background-color: $red !important;
      text-shadow: 1px 1px 1px darken($red, 30%);
    }
  }
  button.confirmation-button {
    background: $green;
  }
  button.claim-job {
    width: 21% !important;
    &:hover {
      text-shadow: 1px 1px 1px darken($yellow, 30%) !important;
    }
  }
}
#new-nanny-jobs .family-table {
  .table-body {
    span.red {
      background: $brick;
    }
  }
}
@media (max-width: 800px) {
  #new-nanny-jobs {
    padding: 0 5px;
  }
  .family-table {
    li {
      width: 25% !important;
    }
    .notes {
      display: none;
    }
  }
}

@include media(medMobile) {
  #nanny-dashboard {
    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      section {
        padding-right: 0;
        border-right: none;
        &.scheduled-jobs {
          width: 70% !important;
          .confirmation-status {
            margin-top: 30px !important;
          }
        }
      }
    }
  }
}

@include media(mobile) {
  #nanny-dashboard {
    .new-jobs-info-wrapper {
      margin-top: 20px;
      form {
        display: flex;
        flex-direction: column;
        margin: 0 30px;
        section {
          width: 100% !important;
          display: flex;
          padding: 0;
          flex-direction: column;
          &:first-of-type {
            padding-bottom: 30px;
            border-top: none;
          }
          h2 {
            text-align: center;
            border-bottom: 1px solid ;
            border-bottom: 1px solid rgb(205, 205, 205);
            margin: 20px 0 30px 0;
            width: 60%;
            align-self: center;
          }
          input {
            height: 30px;
          }
          input, textarea {
            width: 100%;
          }
        }
        section.key-info.scheduled-jobs {
          border-right: none;
          padding-right: 0;
          input {
            width: 100% !important;
          }
        }
      }
    }
  }
}
