#nanny-dashboard {
  h1 {
    font-size: 24px;
    color: $purple;
    font-weight: 100;
  }
}

#nanny-dashboard-container {
  .dashboard-container {
    display: flex;
    justify-content: space-around;
    section {
      width: 48%;
      padding: 0 3%;
    }
  }
}
