@import 'partials/setup/variables';

new-job {
  display: flex;
}
#new-jobs {
  li {
    cursor: default;
    width: 15%;
    &:nth-child(3) {
      width: 25%;
    }
    &:nth-child(4) {
      width: 30%;
    }
  }
  span.new-job-button {
    background: $yellow !important;
    cursor: pointer;
  }
}
