.new-jobs-info-wrapper {
  input {
    background: #fff !important;
    cursor: default;
  }
  h1 {
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      transform: translateY(-5px);
    }
  }
  .basic-info {
    width: 70%;
    label:last-of-type {
      position: relative;
    }
    textarea {
      background: #fff;
      border-radius: 4px;
      border: #BDBDBD solid 1px;
      color: #666;
      cursor: default;
      font-size: 13px;
      font-weight: 300;
      letter-spacing: .5px;
      outline: none;
      padding: 6px;
      resize: none;
      width: 73%;
    }
  }
  .key-info {
    width: 30% !important;
    button.new-job-delete {
      background-color: $brick !important;
      border-radius: 4px;
      border: transparent;
      color: #fff;
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 100;
      padding: 7px 10px;
      width: 100%;
      text-shadow: 1px 1px 1px darken($red, 30%);
      outline: none;
      &:hover {
        cursor: pointer;
        background: $red !important;
        text-shadow: 1px 1px 1px darken($red, 30%);
      }
      &.redDelete {
        background: $red !important;
        text-shadow: 1px 1px 1px darken($red, 30%);
      }
    }
  }
}
button.new-job-assign {
  margin: 15px 0;
}
.popup-container.assign-container {
  background: #eee;
  border-radius: 7px;
  box-shadow: #aaa 0px 1px 6px 0px;
  color: #666;
  height: 500px;
  justify-content: flex-start;
  margin-top: 7%;
  overflow: scroll;
  padding: 25px;
  width: 370px;
  z-index: 1;
  .nanny-popup-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    h3 {
      border-bottom: 1px solid #dfdfdf;
      font-size: 20px;
      padding-bottom: 5px;
      width: 70%;
    }
    p {
      padding: 0 !important ;
      line-height: 30px;
    }
  }
}

@include media(tablet) {
  .new-jobs-info-wrapper {
    .hide-title {
      display: none;
    }
  }
}
@include media(medMobile) {
  .new-jobs-info-wrapper {
    .directory-container {
      padding: 0;
    }
    fieldset {
      display: flex;
      section {
        width: 100% !important;
      }
      section.key-info {
        width: 100% !important;
      }
    }
  }
}
