new-job {
  display: flex;
}
#new-jobs {
  li {
    cursor: default;
    width: 20%;
    &:nth-child(3) {
      width: 25%;
    }
  }
  .table-head li {
    cursor: pointer !important;
  }
  span.new-job-button {
    background: $yellow !important;
    cursor: pointer;
    text-shadow: 1px 1px 1px #a58741
  }
  .title-container {
    display: flex;
  }
  .date {
    position: relative;
    margin-right: 5px;
    z-index: 999999;

    .fa-angle-down {
      cursor: pointer;
      font-size: 21px;
      border: #fff solid 1px;
      padding: 0px 5px;
      border-radius: 1px;
      z-index:9999999;
      &:hover {
        background: #f8f8f8;
        color: #BDBDBD;
      }
      &.arrowActive {
        background: #f8f8f8;
        color: #bdbdbd;
      }
    }
  }
}

@include media(tablet) {
  #new-jobs {
    #new-jobs-header {
      li.tablet-hide {
        display: none;
      }
      li {
        width: 33% !important;
      }
    }
    .family-table .table-body {
      li.tablet-hide {
        display: none;
      }
      li {
        width: 33% !important;
      }
    }
  }
}

@include media(mobile) {
  #new-jobs.directory-container {
    padding: 0 0 20px 0;
    .search:before {
      top: 377px;
      left: 37px;
    }
  }
}
