#pending-sitter-list {
  .table-head li {
    cursor: pointer;
  }
  .panel-heading {
    display: flex;
  }
  li {
    width: 20%;
    cursor: default;
  }
  li:nth-child(2) {
    width: 10%;
  }
  li:nth-child(3) {
    width: 30%;
  }
  li:nth-child(4) {
    width: 15%;
    span {
      color: #fff;
      padding: 5px 10px;
      border-radius: 7px;
      &.green {
        background: $green;
        text-shadow: 1px 1px 1px #4b775d;
      }
      &.red {
        background: $red;
        text-shadow: 1px 1px 1px #9a463e;
      }
    }
  }
  li:nth-child(5) {
    width: 15%;
    text-align: left;
  }
  li:nth-child(6) {
    width: 10%;
    text-align: right;
    span.view-sitter {
      background: #efba59 !important;
      text-shadow: 1px 1px 1px #a58741;
      cursor: pointer;
      color: white;
      padding: 5px 10px;
      border-radius: 7px;
      &:hover {
        cursor: pointer;
        background-color: #e2a338 !important;
      }
    }
  }
}
input.pending-sitter {
  background: white !important;
  cursor: default;
}
span.pending-sitter-buttons {
  align-items: flex-end;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  float: right;
  padding-right: 47px;
  position: relative;
  width: 22%;
  button.pending-sitter {
    width: 100%;
    padding: 0 40px;
    background: $grey;
    border-radius: 4px;
    border: transparent;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding: 7px 10px;
    margin-top: 15px;
    text-shadow: 1px 1px 1px darken($grey, 30%) !important;
    outline: none;
    margin-right: 4%;
    &:first-child {
      &:hover {
        background: $yellow !important;
        text-shadow: 1px 1px 1px darken($yellow, 30%);
      }
    }
    &:last-child {
      &:hover {
        background: $red !important;
        text-shadow: 1px 1px 1px darken($red, 30%);
      }
      &.redDelete {
        background: $red !important;
      }
    }
  }
}

.envelope {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  span {
    background: url(asset_path('messages.svg'));
    background-size: cover;
    height: 20px;
    width: 20px;
    color: white;
  }
}
