.pending-parents {
  .table-head li {
    cursor: pointer !important;
    &:nth-child(5) {
      cursor: default !important;
    }
  }
  li {
    cursor: default !important;
    width: 15%;
  }
  li:nth-child(3) {
    width: 25% !important;
  }
  li:nth-child(4) {
    width: 30% !important;
  }
  li:nth-child(5) {
    width: 15% !important;
  }
  div.panel-heading {
    display: flex;
  }
  span.pending-parent-profile {
    background: $yellow !important;
    text-shadow: 1px 1px 1px #a58741 !important;
    cursor: pointer;
    &:hover {
      cursor: pointer;
      background-color: #e2a338 !important;
    }
  }
}

pending-parent-info {
  span {
    cursor: default !important;
  }
}

pending-parent-info-form {
  input.pending-parent,
  textarea.pending-parent {
    background: #fff !important;
    cursor: default;
  }
  input.approve,
  button.delete {
    border-radius: 4px;
    border: transparent;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 10px 0 0 26%;
    padding: 7px 10px;
    width: 65%;
  }
  input.approve {
    background-color: $yellow !important;
    text-shadow: 1px 1px 1px darken($yellow, 30%);
    &:hover {
      cursor: pointer;
      background-color: $hoverYellow !important;
    }
  }
  .delete {
    background-color: $brick;
    text-shadow: 1px 1px 1px darken($red, 30%);
  }
  .redDelete {
    background-color: $red !important;
  }
}

@include media(tablet) {
  .pending-parents {
    li.tablet-hide {
      display: none;
    }
    .table-head {
      li {
        width: 25% !important;
      }
    }
    .panel-heading {
      li {
        width: 25% !important;
      }
    }
  }
}

@include media(medMobile) {
  .pending-family {
    flex-direction: column;
    section {
      width: 100% !important;
    }
  }
}

@include media(mobile) {
  .pending-sitter-wrapper {
    padding: 0 0 20px 0;
    li.mobile-hide {
      display: none;
    }
    .table-head {
      li {
        width: 33% !important;
      }
    }
    .panel-heading {
      li {
        width: 33% !important;
      }
    }
    .search:before {
      top: 377px;
      left: 37px;
    }
  }
}
