<div class="directory-container">
  <div class="search">
    <h1>Babysitters</h1>
    <input type="text">
  </div>
  <div class="list">
    <div class="title-container">
      <h4>Total: 240</h4>
      <div class="county">
        <h4>Wake County, NC</h4>
      </div>
    </div>
    <table>
      <tr>
        <th>Babysitter</th>
        <th>Age</th>
        <th>Rate</th>
        <th>Email</th>
        <th>Certifications</th>
        <th>Joined</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
    </table>
  </div>
</div>
