<div class="directory-container">
  <div class="search">
    <h1>Babysitters</h1>
    <input ng-model="searchBox" type="text">
  </div>
  <div class="list">
    <div class="title-container">
      <h4>Total: {{babysitters.totalUsers}}</h4>
      <div class="county">
        <h4>Wake County, NC</h4>
        <i class="fa fa-angle-down"></i>
        <div class="counties">
          <ul>
            <li>Bertie County</li>
            <li>Anson County</li>
            <li>Wake County</li>
          </ul>
        </div>
      </div>
    </div>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age<input ng-model="ageBox" type="text"></th>
        <th>Rate <input ng-model="rateBox" type="text"></th>
        <th>Certifications</th>
        <th>Joined</th>
      </tr>
      <tr ng-click="babysitters.userClick(person.sitter_id)" dir-paginate="person in babysitters.babysitters | filter: searchBox | filter: ageBox | filter: rateBox | itemsPerPage: babysitters.usersPerPage">
        <td>{{person.first_name}}</td>
        <td>{{person.last_name}}</td>
        <td>{{person.birthday}}</td>
        <td>${{person.hourly_rate}}</td>
        <td><span ng-class="person.cpr_certification ? 'green' : 'red'" class="cpr">{{babysitters.cprCheck(person.cpr_certification)}}</span></td>
        <td>{{babysitters.getDate(person)}}</td>
      </tr>
    </table>
    <dir-pagination-controls max-size="5"></dir-pagination-controls>
  </div>
</div>
