<div class="directory-container">
  <!-- ******************************
   Header Section: Name Breadcrumbs and Search Field
  ******************************* -->
  <div class="search search-input">
    <h1 ui-sref="babysitters">Babysitters</h1>
    <span>></span>
    <h2>{{babysitter.user.first_name}}</h2>
    <h2>{{babysitter.user.last_name}}</h2>
    <input ng-keyup="$event.keyCode == 13 ? babysitter.searchUser(babysitter.userInput) : null" type="text" ng-model="babysitter.userInput" placeholder="Search for Babysitter">
  </div>
  <!-- ******************************
   Drop Down County Field
  ******************************* -->
  <div class="list">
    <div class="title-container">
      <div class="county">
        <h4>Message</h4>
        <i class="fa fa-angle-down"></i>
      </div>
    </div>
  </div>
  <!-- ******************************
   Name Fields and Photo Section
  ******************************* -->
  <section class="name">
    <div class="name-container">
      <label for="phone">First Name:</label>
      <input class="name-heading" type="text" ng-model="babysitter.user.first_name" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('first_name', babysitter.user.first_name, babysitter.user.sitter_id)">
    </div>
    <div class="name-container">
      <label for="phone">Last Name:</label>
      <input class="name-heading" type="text" ng-model="babysitter.user.last_name" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('last_name', babysitter.user.last_name, babysitter.user.sitter_id)">
    </div>
    <img src="{{babysitter.user.picture.url}}" alt="profile">
  </section>
  <!-- ******************************
   Basic Information Section
  ******************************* -->
  <section class="basic-info">
    <h2>Basic Information</h2>
    <!-- Phone Field -->
    <label for="phone">Phone:</label>
    <input id="phone" type="text" ng-class="{changed: babysitter.changed}" ng-model="babysitter.user.phone_number" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('phone', babysitter.user.phone, babysitter.user.sitter_id)">
    <!-- Email Field -->
    <label for="email">Email:</label>
    <input id="email" type="text" ng-model="babysitter.user.email" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('email', babysitter.user.email, babysitter.user.sitter_id)">
    <!-- Birthday Field -->
    <label for="birthday">Birthday:</label>
    <input id="birthday" type="text" ng-model="babysitter.user.birthday" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('birthday', babysitter.user.birthday, babysitter.user.sitter_id); babysitter.calculateAge(babysitter.user.birthday);">
    <!-- Street Field -->
    <label for="street">Street:</label>
    <input id="street" type="text" ng-model="babysitter.user.street" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('street', babysitter.user.street, babysitter.user.sitter_id)">
    <!-- City Field -->
    <label for="city">City:</label>
    <input id="city" type="text" ng-model="babysitter.user.city" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('city', babysitter.user.city, babysitter.user.sitter_id)">
    <!-- State Field -->
    <label for="state">State:</label>
    <input id="state" type="text" ng-model="babysitter.user.state" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('state', babysitter.user.state, babysitter.user.sitter_id)">
    <!-- zip Field -->
    <label for="zip">zip:</label>
    <input id="zip" type="text" ng-model="babysitter.user.zip_code" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('zip_code', babysitter.user.zip_code, babysitter.user.sitter_id)">
    <h2 class="rec-title">Recommendations</h2>
    <!-- Recommendation 1 Field -->
    <div class="rec">
      <label>1.</label>
      <input id="rec-name-1" type="text" ng-model="babysitter.user.recommendation_one_name" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('recommendation_one_name', babysitter.user.recommendation_one_name, babysitter.user.sitter_id)">
      <input id="rec-phone-1" type="text" ng-model="babysitter.user.recommendation_one_email" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('recommendation_one_name', babysitter.user.recommendation_one_name, babysitter.user.sitter_id)">
    </div>
    <!-- Recommendation 2 Field -->
    <div class="rec">
      <label>2.</label>
      <input id="rec-name-2" type="text" ng-model="babysitter.user.recommendation_two_name" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('recommendation_two_name', babysitter.user.recommendation_two_name, babysitter.user.sitter_id)">
      <input id="rec-phone-2" type="text" ng-model="babysitter.user.recommendation_two_email" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('recommendation_two_name', babysitter.user.recommendation_two_name, babysitter.user.sitter_id)">
    </div>
    <!-- Recommendation 3 Field -->
    <div class="rec">
      <label>3.</label>
      <input id="rec-name-3" type="text" ng-model="babysitter.user.recommendation_three_name" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('recommendation_three_name', babysitter.user.recommendation_three_name, babysitter.user.sitter_id)">
      <input id="rec-phone-3" type="text" ng-model="babysitter.user.recommendation_three_email" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('recommendation_three_name', babysitter.user.recommendation_three_name, babysitter.user.sitter_id)">
    </div>
  </section>
  <!-- ******************************
   Key Information Section
  ******************************* -->

  <section class="key-info">
    <h2>Key Information</h2>
    <!-- Certifications Field -->
    <div class="cert">
      <label>Certifications</label>
      <button ng-class="babysitter.user.cpr_certification ? 'toggleGreen' : 'toggleRed'" type="button" ng-click="babysitter.toggleCPR(babysitter.user.id)">{{babysitter.cpr}}</button>
      <button ng-class="babysitter.user.first_aid_certification ? 'toggleGreen' : 'toggleRed'" type="button" ng-click="babysitter.toggleCert(babysitter.user.id)">{{babysitter.firstAid}}</button>
    </div>
    <!-- Hourly Rate Field -->
    <label for="rate">Hourly Rate:</label>
    <input id="rate" type="text" ng-model="babysitter.user.hourly_rate" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('hourly_rate', babysitter.user.hourly_rate, babysitter.user.sitter_id)">
    <!-- Age Field -->
    <label for="age">Age:</label>
    <input id="age" type="text" ng-model="babysitter.age" disabled>
    <!-- Joined Field -->
    <label for="joined">Joined:</label>
    <input id="joined" type="text" ng-model="babysitter.getDate(babysitter.user.created_at)" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('joined', babysitter.user.joined, babysitter.user.sitter_id)">
    <button ng-click="babysitter.updateBabysitter(babysitter.user.sitter_id)" type="button">Update Account</button>
    <button ng-click="babysitter.popup()" ng-class="{'redDelete': babysitter.visibility}" type="button">Delete Account</button>
  </section>

  <div ng-class="{'visible': babysitter.visibility}" class="popup" role="alert">
    <div class="popup-container">
      <a ng-click="babysitter.popup()" class="close img-replace"></a>
      <p>Are you sure you want to delete this family?</p>
      <ul class="popup-buttons">
        <li ng-click="babysitter.deleteBabysitter(babysitter.user.id)">Yes</li>
        <li ng-click="babysitter.popup()">No</li>
      </ul>
    </div>
  </div>

</div>
