<div class="directory-container">
  <div class="search">
    <h1 ui-sref="babysitters">Babysitters</h1>
    <span>></span>
    <h2>{{babysitter.user.first_name}}</h2>
    <h2>{{babysitter.user.last_name}}</h2>
    <input type="text">
  </div>
  <div class="list">
    <div class="title-container">
      <div class="county">
        <h4>Message</h4>
        <i class="fa fa-angle-down"></i>
      </div>
    </div>
  </div>
  <section class="name">
    <label for="phone">First Name:</label>
    <input class="name-heading" type="text" ng-model="babysitter.user.first_name" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('first_name', babysitter.user.first_name, babysitter.user.sitter_id)">
    <label for="phone">Last Name:</label>
    <input class="name-heading" type="text" ng-model="babysitter.user.last_name" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('last_name', babysitter.user.last_name, babysitter.user.sitter_id)">
    <img src="#" alt="">
  </section>
  <section class="basic-info">
    <h2>Basic Information</h2>
    <!-- Phone Field -->
    <label for="phone">Phone:</label>
    <input id="phone" type="text" ng-model="babysitter.user.phone" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('phone', babysitter.user.phone, babysitter.user.sitter_id)">
    <!-- Email Field -->
    <label for="email">Email:</label>
    <input id="email" type="text" ng-model="babysitter.user.email" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('email', babysitter.user.email, babysitter.user.sitter_id)">
    <!-- Birthday Field -->
    <label for="birthday">Birthday:</label>
    <input id="birthday" type="text" ng-model="babysitter.user.birthday" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('birthday', babysitter.user.birthday, babysitter.user.sitter_id)">
    <!-- Street Field -->
    <label for="street">Street:</label>
    <input id="street" type="text" ng-model="babysitter.user.street" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('street', babysitter.user.street, babysitter.user.sitter_id)">
    <!-- City Field -->
    <label for="city">City:</label>
    <input id="city" type="text" ng-model="babysitter.user.city" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('city', babysitter.user.city, babysitter.user.sitter_id)">
    <!-- State Field -->
    <label for="state">State:</label>
    <input id="state" type="text" ng-model="babysitter.user.state" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('state', babysitter.user.state, babysitter.user.sitter_id)">
    <!-- zip Field -->
    <label for="zip">zip:</label>
    <input id="zip" type="text" ng-model="babysitter.user.zip_code" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('zip_code', babysitter.user.zip_code, babysitter.user.sitter_id)">
    <h2 class="rec-title">Recommendations</h2>
    <!-- Recommendation 1 Field -->
    <div class="rec">
      <label>1.</label>
      <input id="rec-name-1" type="text" ng-model="babysitter.user.recommendation_one_name" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('recommendation_one_name', babysitter.user.recommendation_one_name, babysitter.user.sitter_id)">
      <input id="rec-phone-1" type="text" ng-model="babysitter.user.recommendation_one_email" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('recommendation_one_name', babysitter.user.recommendation_one_name, babysitter.user.sitter_id)">
    </div>
    <!-- Recommendation 2 Field -->
    <div class="rec">
      <label>2.</label>
      <input id="rec-name-2" type="text" ng-model="babysitter.user.recommendation_two_name" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('recommendation_two_name', babysitter.user.recommendation_two_name, babysitter.user.sitter_id)">
      <input id="rec-phone-2" type="text" ng-model="babysitter.user.recommendation_two_email" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('recommendation_two_name', babysitter.user.recommendation_two_name, babysitter.user.sitter_id)">
    </div>
    <!-- Recommendation 3 Field -->
    <div class="rec">
      <label>3.</label>
      <input id="rec-name-3" type="text" ng-model="babysitter.user.recommendation_three_name" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('recommendation_three_name', babysitter.user.recommendation_three_name, babysitter.user.sitter_id)">
      <input id="rec-phone-3" type="text" ng-model="babysitter.user.recommendation_three_email" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('recommendation_three_name', babysitter.user.recommendation_three_name, babysitter.user.sitter_id)">
    </div>
  </section>
  <section class="key-info">
    <h2>Key Information</h2>
    <!-- Certifications Field -->
    <div class="cert">
      <label>Certifications <span ng-click="babysitter.addCerts()">+</span></label>
      <div class="cert-container" ng-show="babysitter.user.cpr_certification === true">
        <input id="cpr" type="text" ng-model="babysitter.cpr"><span>-</span>
      </div>
      <div class="cert-container" ng-show="babysitter.user.first_aid_certification === true">
        <input id="first-aid" type="text" ng-model="babysitter.firstAid"><span>-</span>
      </div>
    </div>
    <!-- Hourly Rate Field -->
    <label for="rate">Hourly Rate:</label>
    <input id="rate" type="text" ng-model="babysitter.user.hourly_rate" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('hourly_rate', babysitter.user.hourly_rate, babysitter.user.sitter_id)">
    <!-- Age Field -->
    <label for="birthday">Age:</label>
    <input id="birthday" type="text" ng-model="babysitter.user.birthday" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('birthday', babysitter.user.birthday, babysitter.user.sitter_id)">
    <!-- Joined Field -->
    <label for="joined">Joined:</label>
    <input id="joined" type="text" ng-model="babysitter.user.joined" ng-model-options="{ updateOn: 'blur' }" ng-change="babysitter.userInputClick('joined', babysitter.user.joined, babysitter.user.sitter_id)">
    <button ng-click="babysitter.updateBabysitter(babysitter.user.sitter_id)" type="button">Update Account</button>
    <button type="button">Delete Account</button>
  </section>
</div>
