<div class="dashboard-container">
  <h1>Dashboard Overview</h1>
  <!-- ******************************
   Jobs Section
  ******************************* -->
  <section class="jobs">
    <div class="title-container">
      <h2>Today's Jobs: <span>November 24, 2016</span></h2>
    </div>
    <table>
      <tr>
        <th>Parent</th>
        <th>Babysitter</th>
        <th>Time</th>
      </tr>
      <tr>
        <td>Mary Jane</td>
        <td>Laura Smith</td>
        <td>7:00PM</td>
      </tr>
    </table>
  </section>
  <!-- ******************************
   New Jobs Section
  ******************************* -->
  <section class="new-jobs">
    <div class="title-container">
      <h2>New Jobs</h2>
    </div>
    <table>
      <tr>
        <th>Parent</th>
        <th>Job For</th>
        <th>Sent</th>
      </tr>
      <tr>
        <td>Mary Jane</td>
        <td>Nov. 8 at 7:00PM</td>
        <td>7:00PM</td>
      </tr>
    </table>
  </section>
  <!-- ******************************
   Pending Applications Section
  ******************************* -->
  <section class="applications">
    <div class="title-container">
      <h2>Pending Applications</h2>
    </div>
    <table>
      <tr>
        <th>From</th>
        <th>User</th>
        <th>Sent</th>
      </tr>
      <tr>
        <td>Mary Jane</td>
        <td>Laura Smith</td>
        <td>7:00PM</td>
      </tr>
    </table>
  </section>
  <!-- ******************************
   Messaging Section
  ******************************* -->
  <section class="messages">
    <div class="title-container">
      <h2>Messaging Center</h2>
    </div>
    <table>
      <tr>
        <th>From</th>
        <th>Message</th>
        <th>Read?</th>
      </tr>
      <tr>
        <td>Mary Jane</td>
        <td>"Hey there, did you get"</td>
        <td>7:00PM</td>
      </tr>
    </table>
  </section>
</div>
