<div class="dashboard-container">
  <h1>Dashboard Overview</h1>
  <!-- ******************************
   Jobs Section
  ******************************* -->
  <section class="jobs">
    <div class="title-container" ng-click="dashboard.changeStates('jobs')">
      <h2>Upcoming Jobs</h2>
    </div>
    <table>
      <tr>
        <th>Parent</th>
        <th>Babysitter</th>
        <th>Stage</th>
      </tr>
      <tr ng-repeat="person in dashboard.openJobs" ng-click="dashboard.newJobs(person)">
        <td>{{person.name}}</td>
        <td>{{person.sitter}}</td>
        <td ng-show="person.is_assigned === false"><h6 class="sitter">Waiting Sitter</h6></td>
        <td ng-show="person.is_assigned === true && person.confirmed === false"><h6 class="parent">Waiting Parent</h6></td>
        <td ng-show="person.confirmed === true"><h6 class="confirmed">Confirmed</h6></td>
      </tr>
    </table>
  </section>
  <!-- ******************************
   New Jobs Section
  ******************************* -->
  <section class="new-jobs">
    <div class="title-container" ng-click="dashboard.changeStates('newJobs')">
      <h2>New Jobs</h2>
    </div>
    <table>
      <tr>
        <th>Parent</th>
        <th>Job For</th>
        <th>Submitted</th>
      </tr>
      <tr ng-repeat="person in dashboard.assignments" ng-click="dashboard.newJobs(person)">
        <td>{{person.name}}</td>
        <td><h6 ng-class="{dateGreen: person.dateGreen === true, dateRed: person.dateRed === true}">{{dashboard.getDate(person.date_time, person)}}</h6></td>
        <td>{{person.submitted}}</td>
      </tr>
    </table>
  </section>

  <!-- ******************************
   Pending Applications Section
  ******************************* -->
  <section class="applications">
    <div class="title-container" ng-click="dashboard.changeStates('newJobs')">
      <h2>Pending Applications</h2>
      <div class="buttons">
        <button ng-click="dashboard.changeStates('pendingParents')">Parent</button>
        <button ng-click="dashboard.changeStates('pendingBabysitters')">Babysitters</button>
      </div>
    </div>
    <table>
      <tr>
        <th>From</th>
        <th>Role</th>
        <th>Sent</th>
      </tr>
      <tr ng-repeat="person in dashboard.application" ng-click="dashboard.pendingApplication(person)">
        <td>{{person.name}}</td>
        <td>{{person.role}}</td>
        <td>{{person.submitted}}</td>
      </tr>
    </table>
  </section>
  <!-- ******************************
   Messaging Section
  ******************************* -->
  <section class="messages">
    <div class="title-container" ng-click="dashboard.changeStates('messages')">
      <h2>Messaging Center</h2>
    </div>
    <table>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <th>Read?</th>
      </tr>
      <tr ng-click="dashboard.message(person.conversation_id, person.message_id)" ng-repeat="person in dashboard.messages">
        <td>{{person.from}}</td>
        <td>{{person.subject}}</td>
        <td><h6 ng-class="{'readTrue': person.is_read === true, 'dateRed': person.is_read === false}">{{dashboard.readValidate(person.is_read)}}</h6></td>
      </tr>
    </table>
  </section>
</div>
