<div class="dashboard-container">
  <h1>Dashboard Overview</h1>
  <!-- ******************************
   Jobs Section
  ******************************* -->
  <section class="jobs">
    <div class="title-container" ng-click="dashboard.changeStates('jobs')">
      <h2>Today's Jobs: <span>November 24, 2016</span></h2>
    </div>
    <table>
      <tr>
        <th>Parent</th>
        <th>Babysitter</th>
        <th>Time</th>
      </tr>
      <tr ng-repeat="person in dashboard.openJobs" ng-click="dashboard.newJobs(person)">
        <td>{{person.name}}</td>
        <td>{{person.sitter}}</td>
        <td>{{person.submitted}}</td>
      </tr>
    </table>
  </section>
  <!-- ******************************
   New Jobs Section
  ******************************* -->
  <section class="new-jobs">
    <div class="title-container" ng-click="dashboard.changeStates('newJobs')">
      <h2>New Jobs</h2>
    </div>
    <table>
      <tr>
        <th>Parent</th>
        <th>Job For</th>
        <th>Sent</th>
      </tr>
      <tr ng-repeat="person in dashboard.assignments" ng-click="dashboard.newJobs(person)">
        <td>{{person.name}}</td>
        <td>{{dashboard.getDate(person.date_time)}}</td>
        <td>{{person.submitted}}</td>
      </tr>
    </table>
  </section>
  <!-- ******************************
   Pending Applications Section
  ******************************* -->
  <section class="applications">
    <div class="title-container" ng-click="dashboard.changeStates('newJobs')">
      <h2>Pending Applications</h2>
      <div class="buttons">
        <button ng-click="dashboard.changeStates('pendingParents')">Parent</button>
        <button ng-click="dashboard.changeStates('pendingBabysitters')">Babysitters</button>
      </div>
    </div>
    <table>
      <tr>
        <th>From</th>
        <th>Role</th>
        <th>Sent</th>
      </tr>
      <tr ng-repeat="person in dashboard.application" ng-click="dashboard.pendingApplication(person)">
        <td>{{person.name}}</td>
        <td>{{person.role}}</td>
        <td>{{person.submitted}}</td>
      </tr>
    </table>
  </section>
  <!-- ******************************
   Messaging Section
  ******************************* -->
  <section class="messages">
    <div class="title-container" ng-click="dashboard.changeStates('messages')">
      <h2>Messaging Center</h2>
    </div>
    <table>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <th>Read?</th>
      </tr>
      <tr ng-repeat="person in dashboard.messages">
        <td>{{person.from}}</td>
        <td>{{person.subject}}</td>
        <td>{{person.is_read}}</td>
      </tr>
    </table>
  </section>
</div>
