<div class="family-profile-wrapper">
  <div class="directory-container">

    <div class="search">
      <h1>Family</h1>
      <input type="text">
    </div>

    <div class="list">
      <div class="title-container">
        <div class="message">
          <h4>Message</h4>
          <i class="fa fa-angle-down"></i>
        </div>
      </div>
    </div>

    <div class="profile-container">
      <section class="name">
        <h1>{{$ctrl.profile.first_name}} {{$ctrl.profile.last_name}}</h1>
        <img src="#" alt="">
      </section>

      <section class="basic-info">
        <h2>Basic Information</h2>
        <family-profile-form profile="$ctrl.profile"></family-profile-form>
      </section>

      <section class="key-info">
        <h2>Key Information</h2>
        <input class="status" type="text" ng-model="$ctrl.family.active ? 'active' : 'inactive'">

        <button type="button">Delete Account</button>
      </section>
    </div>
  </div>
</div>
