<form>
  <!-- Phone Field -->
  <label for="phone">Phone:</label>
  <input id="phone" type="text" ng-model="$ctrl.profile.phone">
  <!-- Email Field -->
  <label for="email">Email:</label>
  <input id="email" type="text" ng-model="$ctrl.profile.email">
  <!-- Street Field -->
  <label for="street">Street:</label>
  <input id="street" type="text" ng-model="$ctrl.profile.street">
  <!-- City Field -->
  <label for="city">City:</label>
  <input id="city" type="text" ng-model="$ctrl.profile.city">
  <!-- County Field -->
  <label for="count">County:</label>
  <input id="county" type="text" ng-model="$ctrl.profile.county">
  <!-- State Field -->
  <label for="state">State:</label>
  <input id="state" type="text" ng-model="$ctrl.profile.state">
  <!-- zip Field -->
  <label for="zip">Zip Code:</label>
  <input id="zip" type="text" ng-model="$ctrl.profile.zip_code">
  <!-- About Field -->
  <label for="about">About:</label>
  <textarea rows="4" cols="50">
    {{$ctrl.profile.about}}
  </textarea>
</form>
