<div id="family-profile-wrapper">
  <div class="directory-container">

    <div class="search">
      <h1 class="family-link" ui-sref="family">Family</h1>
      <span>></span>
      <h2>{{$ctrl.profile.first_name}}</h2>
      <h2>{{$ctrl.profile.last_name}}</h2>
      <input type="text">
    </div>

    <div class="list">
      <div class="title-container">
        <div class="message">
          <h4>Message</h4>
          <span></span>
        </div>
      </div>
    </div>

    <div class="profile-container">
      <section class="name">
        <h1>{{$ctrl.profile.first_name}} {{$ctrl.profile.last_name}}</h1>
        <%= image_tag("placeholder.jpeg", :alt => "Preview image on landing page") %>
        <span ng-click="$ctrl.handleToggle($ctrl.profile.family_id)"
        ng-class="{'active': $ctrl.profile.active, 'inactive': !$ctrl.profile.active}">
        {{$ctrl.profile.active ? 'active' : 'inactive'}}
        </span>
      </section>

      <section class="basic-info">
        <h2>Basic Information</h2>

        <family-profile-form profile="$ctrl.profile"></family-profile-form>

      </section>
    </div>
  </div>
</div>
