<div class="directory-container">
  <div class="search">
    <h1>All Jobs</h1>
    <input ng-model="searchBox" type="text">
  </div>
  <div class="list">
    <div class="title-container">
      <h4>Total 5</h4>
    </div>
    <table>
      <tr>
        <th>Parent</th>
        <th>Babysitter</th>
        <th>Time Range</th>
        <th>Confirmed with Parent</th>
        <th>Created</th>
      </tr>
      <!-- <tr dir-paginate="job in allJobs.jobs | itemsPerPage: 5"> -->
      <tr>
        <td>Todd Snyder</td>
        <td>Katie Myers</td>
        <td>7pm-9pm</td>
        <td>Yes</td>
        <td>8/11/2016</td>
      </tr>
    </table>
    <dir-pagination-controls max-size="5"></dir-pagination-controls>
  </div>
</div>
