<div class="directory-container">
  <div class="search">
    <h1>Messages</h1>
    <input type="text">
  </div>
  <div class="list">
    <div class="title-container">
      <h4>Total: 10</h4>
    </div>
    <table>
      <tr>
        <th>From</th>
        <th>Message</th>
        <th>Sent</th>
        <th>Replied?</th>
      </tr>
      <!-- <tr ng-click="babysitters.userClick(person)" dir-paginate="person in babysitters.babysitters | itemsPerPage: babysitters.usersPerPage">
        <td>{{person.from}}</td>
        <td>{{person.message}}</td>
        <td>{{person.sent}}</td>
        <td>${{person.replied}}</td>
      </tr> -->
    </table>
    <dir-pagination-controls max-size="5"></dir-pagination-controls>
  </div>
</div>
