<div class="directory-container">
  <div class="search">
    <h1>Messages</h1>
    <input type="text">
  </div>
  <div class="list">
    <div class="title-container">
      <h4>Total: 10</h4>
      <div ng-click="messages.messageClick()" class="message">
        <i class="fa fa-plus-circle"></i>
        <h4>New Message</h4>
      </div>
    </div>
    <table>
      <tr>
        <th>From</th>
        <th>Message</th>
        <th>Sent</th>
        <th>Replied?</th>
      </tr>
      <!-- <tr ng-click="messages.userClick(person)" dir-paginate="person in messages.babysitters | itemsPerPage: babysitters.usersPerPage">
        <td>{{person.from}}</td>
        <td>{{person.message}}</td>
        <td>{{person.sent}}</td>
        <td>${{person.replied}}</td>
      </tr> -->
    </table>
    <dir-pagination-controls max-size="5"></dir-pagination-controls>
  </div>
</div>
