<div class="directory-container newMessage">
  <div class="search">
    <h1>New Message</h1>
  </div>
  <div class="list">
    <div class="title-container">
    </div>
    <div class="message">
      <div class="subject">
        <label for="subject">Subject:</label>
        <input id="subject" type="text" ng-model="subject">
      </div>
      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="8" cols="40" ng-model="body"></textarea>
      <button type="button" ng-click="newMessage.sendMessage(subject, body)">Send</button>
    </div>
  </div>
</div>
