<div class="directory-container" id="new-jobs">
  <div class="list-wrapper">

    <div class="search">
      <h1>New Jobs</h1>
      <input type="text" search-image ng-model="searchBox" class="form-control" id="iconified" placeholder="&#xF002;"/>
    </div>
    <div class="list">
      <div class="title-container dropdown-container">
        <h4>Total: {{$ctrl.jobs.length}} </h4>
      </div>

    <div class="family-table new-jobs-table">
      <ul class="table-head" id="new-jobs-header">
        <li ng-click=$ctrl.sortBy('last_name')>Parent</li>
        <li ng-click=$ctrl.sortBy('date')>Job Date</li>
        <li class="tablet-hide" ng-click=$ctrl.sortBy('start_time')>Posted</li>
        <li class="tablet-hide" ng-click=$ctrl.sortBy('notes')>Notes</li>
        <li>View Job</li>
      </ul>

      <div class="table-body">
        <ul dir-paginate="job in $ctrl.jobs | orderBy: $ctrl.columnSort : $ctrl.reverse | filter: searchBox | filter: $ctrl.selectedCounty |itemsPerPage: 5">
          <new-job ng-click="$ctrl.select()" job="job"></new-job>
        </ul>
      </div>
    </div>
    <dir-pagination-controls max-size="5"></dir-pagination-controls>
  </div>
</div>
