<div class="new-jobs-info-wrapper">
  <div class="directory-container">

    <div class="search">
      <h1 ui-sref="newJobs">New Jobs</h1>
      <span>></span>
      <h2>{{$ctrl.job.name}}</h2>
      <input type="text">
    </div>

    <div class="list">
      <div class="title-container">
        <div class="message">
          <h4>Job Details</h4>
        </div>
      </div>
    </div>

    <section class="basic-info">
      <h2>Basic Information</h2>
      <!-- Family -->
      <label for="name">Name:</label>
      <input type="text" name="name" ng-model="$ctrl.job.name">
      <!-- Phone Field -->
      <label for="phone">Phone:</label>
      <input id="phone" type="text" ng-model="$ctrl.job.phone" ng-model-options="{ updateOn: 'blur' }" ng-change="$ctrl.updateCurrent( 'phone', $ctrl.job.phone)">
      <!-- Email Field -->
      <label for="email">Email:</label>
      <input id="email" type="text" ng-model="$ctrl.job.email" ng-model-options="{ updateOn: 'blur' }" ng-change="$ctrl.updateCurrent( 'email', $ctrl.job.email)">
      <!-- Street Field -->
      <label for="street">Street:</label>
      <input id="street" type="text" ng-model="$ctrl.job.street" ng-model-options="{ updateOn: 'blur' }" ng-change="$ctrl.updateCurrent( 'street', $ctrl.job.street)">
      <!-- City Field -->
      <label for="city">City:</label>
      <input id="city" type="text" ng-model="$ctrl.job.city" ng-model-options="{ updateOn: 'blur' }" ng-change="$ctrl.updateCurrent( 'city', $ctrl.job.city)">
      <!-- State Field -->
      <label for="state">State:</label>
      <input id="state" type="text" ng-model="$ctrl.job.state" ng-model-options="{ updateOn: 'blur' }" ng-change="$ctrl.updateCurrent( 'state', $ctrl.job.state)">
      <!-- Zip Field -->
      <label for="zip">Zip Code:</label>
      <input id="zip" type="text" ng-model="$ctrl.job.zip_code" ng-model-options="{ updateOn: 'blur' }" ng-change="$ctrl.updateCurrent( 'zip_code', $ctrl.job.zip_code)">
      <!-- Notes Field -->
      <label for="name">Notes:</label>
      <textarea type="text" name="posted" value="" ng-model="$ctrl.job.notes" ng-change="$ctrl.updateCurrent( 'notes', $ctrl.job.notes)"></textarea>

    </section>

    <section class="key-info">
      <h2>Key Information</h2>
      <label for="name">Job Needed For:</label>
      <input type="text" name="dateNeeded" value="" ng-model="$ctrl.job.date" ng-change="$ctrl.updateCurrent( 'date', $ctrl.job.date)">
      <label for="name">Date Posted:</label>
      <input type="text" name="posted" value="" ng-model="$ctrl.job.date_posted" ng-change="$ctrl.updateCurrent( 'date_posted', $ctrl.job.date_posted)">

      <input name="save" ng-click="$ctrl.save($ctrl.jobId)" class="save" type="submit" value="Save Changes" />
      <button ng-click="$ctrl.delete($ctrl.jobId)" class="delete" type="button">Delete Job</button>
    </section>
  </div>
</div>
