<div class="new-jobs-info-wrapper">
  <div class="directory-container">

    <div class="search hide-title">
      <h1 ui-sref="newJobs">New Jobs</h1>
      <span>></span>
      <h2>{{$ctrl.job.name}}</h2>
    </div>

    <div class="list">
      <div class="title-container">
        <div class="envelope">
          <h4>Job Details</h4>
        </div>
      </div>
    </div>

    <fieldset ng-disabled="$ctrl.deletedText">
      <section class="basic-info">
        <form>
        <h2>Basic Information</h2>
        <!-- Family -->
        <label for="name">Name:</label>
        <input type="text" name="name" ng-model="$ctrl.job.name" ng-disabled="true">
        <!-- Phone Field -->
        <label for="phone">Phone:</label>
        <input id="phone" type="text" ng-model="$ctrl.job.phone" ng-disabled="true">
        <!-- Email Field -->
        <label for="email">Email:</label>
        <input id="email" type="text" ng-model="$ctrl.job.email" ng-disabled="true">
        <!-- Street Field -->
        <label for="street">Street:</label>
        <input id="street" type="text" ng-model="$ctrl.job.street" ng-disabled="true">
        <!-- City Field -->
        <label for="city">City:</label>
        <input id="city" type="text" ng-model="$ctrl.job.city" ng-disabled="true">
        <!-- State Field -->
        <label for="state">State:</label>
        <input id="state" type="text" ng-model="$ctrl.job.state" ng-disabled="true">
        <!-- Zip Field -->
        <label for="zip">Zip Code:</label>
        <input id="zip" type="text" ng-model="$ctrl.job.zip_code" ng-disabled="true">
        <!-- Notes Field -->
        <label for="name">Notes:</label>
        <textarea type="text" name="posted" value="" ng-model="$ctrl.job.notes" ng-change="$ctrl.updateCurrent( 'notes', $ctrl.job.notes)" ng-disabled="true"></textarea>

      </section>

      <section class="key-info">
        <h2>Key Information</h2>
        <label for="name">Job Needed For:</label>
        <input type="text" name="dateNeeded" value="" ng-model="$ctrl.job.date" ng-disabled="true">
        <input type="text" name="dateNeeded" value="{{$ctrl.job.start_time}} - {{$ctrl.job.end_time}}"}} ng-disabled="true">
        <label for="name">Date Posted:</label>
        <input type="text" name="posted" value="" ng-model="$ctrl.job.date_posted" ng-change="$ctrl.updateCurrent( 'date_posted', $ctrl.job.date_posted)" ng-disabled="true">
        <label for="sitter">Assign a Nanny:</label>
        <input type="text" name="" value="{{$ctrl.nanny.name}}" ng-disabled="true" placeholder="Needs assignment">
        <button class="new-job-assign" ng-click="$ctrl.assignPopup()" class="assign" ng-class="" type="button">Select a Nanny</button>
        <button class="new-job-delete" ng-click="$ctrl.popup()" class="delete" ng-class="{'redDelete': $ctrl.visibility}" type="button">Delete Job</button>
      </section>
      </form>
    </fieldset>


    <div ng-class="{'visible': $ctrl.assignVisibility}" class="popup" role="alert">
    	<div class="popup-container assign-container">
        <a ng-click="$ctrl.assignPopup()" class="close img-replace"></a>
        <div class="nanny-popup-list">
          <h3>Assign a Nanny</h3>
          <p ng-click="$ctrl.assign(nanny)" ng-repeat="nanny in $ctrl.nannyList">{{nanny.name}}</p>
        </div>
    	</div>
    </div>

    <div ng-class="{'visible': $ctrl.visibility}" class="popup" role="alert">
    	<div class="popup-container">
        <a ng-click="$ctrl.popup()" class="close img-replace"></a>
    		<p>Are you sure you want to delete this job?</p>
    		<ul class="popup-buttons">
    			<li ng-click="$ctrl.delete($ctrl.jobId)">Yes</li>
    			<li ng-click="$ctrl.popup()">No</li>
    		</ul>
    	</div>
    </div>

  </div>
</div>
