<div id="family-profile-wrapper">
  <div class="directory-container">

    <div class="search">
      <h1 class="family-link" ui-sref="pendingParents">Pending Parent</h1>
      <span>></span>
      <h2>{{$ctrl.info.first_name}}</h2>
      <h2>{{$ctrl.info.last_name}}</h2>
      <input type="text">
    </div>

    <div class="list">
      <div class="title-container">
        <div class="envelope">
          <h4>Message</h4>
          <span></span>
        </div>
      </div>
    </div>

    <div class="profile-container">
      <section class="name">
        <h1>{{$ctrl.info.first_name}} {{$ctrl.info.last_name}}</h1>
        <%= image_tag("placeholder.jpeg", :alt => "Preview image on landing page") %>
      </section>

      <section class="basic-info">
        <h2>Basic Information</h2>

        <pending-parent-info-form info="$ctrl.info"></pending-parent-info-form>

      </section>
    </div>
  </div>
</div>
