<div id="family-profile-wrapper">
  <div class="directory-container">

    <div class="search hide-title">
      <h1 class="family-link" ui-sref="pendingParents">Pending Parent</h1>
      <span>></span>
      <h2>{{$ctrl.info.first_name}}</h2>
      <h2>{{$ctrl.info.last_name}}</h2>
    </div>

    <div class="list">
      <div ui-sref="new-message" class="title-container">
        <div class="envelope">
          <h4>Message</h4>
          <span></span>
        </div>
      </div>
    </div>

    <div class="profile-container pending-family">
      <section class="name">
        <h1>{{$ctrl.info.first_name}} {{$ctrl.info.last_name}}</h1>
        <img src={{$ctrl.info.picture.url}} alt="Profile Photo">
      </section>

      <section class="basic-info">
        <h2>Basic Information</h2>

        <pending-parent-info-form info="$ctrl.info"></pending-parent-info-form>

      </section>
    </div>
  </div>
</div>
