<div class="directory-container">
  <div class="search hide-title">
    <h1 ui-sref="babysitters">Pending Babysitter</h1>
    <span>></span>
    <h2>{{$ctrl.info.first_name}}</h2>
    <h2>{{$ctrl.info.last_name}}</h2>
  </div>
  <!-- ******************************
   Drop Down County Field
  ******************************* -->

  <div class="list">
    <div class="title-container">
      <div ui-sref="new-message" class="envelope">
        <h4>Message</h4>
        <span></span>
      </div>
    </div>
  </div>

  <section class="name">
    <h1>{{$ctrl.info.first_name}} {{$ctrl.info.last_name}}</h1>
    <img src="{{$ctrl.nanny.picture.url}}" alt="Nanny Photo">
  </section>
  <!-- ******************************
   Basic Information Section
  ******************************* -->

  <section class="basic-info">
    <h2>Basic Information</h2>
    <!-- Phone Field -->
    <label for="phone">Phone:</label>
    <input class="pending-sitter" id="phone" type="text" ng-model="$ctrl.info.phone_number" ng-disabled="true">
    <!-- Email Field -->
    <label for="email">Email:</label>
    <input class="pending-sitter" id="email" type="text" ng-model="$ctrl.info.email" ng-disabled="true">
    <!-- Birthday Field -->
    <label for="birthday">Birthday:</label>
    <input class="pending-sitter" id="birthday" type="text" ng-model="$ctrl.info.birthday" ng-disabled="true">
    <!-- Street Field -->
    <label for="street">Street:</label>
    <input class="pending-sitter" id="street" type="text" ng-model="$ctrl.info.street" ng-disabled="true">
    <!-- City Field -->
    <label for="city">City:</label>
    <input class="pending-sitter" id="city" type="text" ng-model="$ctrl.info.city" ng-disabled="true">
    <!-- State Field -->
    <label for="state">State:</label>
    <input class="pending-sitter" id="state" type="text" ng-model="$ctrl.info.state" ng-disabled="true">
    <!-- Zip Code Field -->
    <label for="zip">Zip Code:</label>
    <input class="pending-sitter" id="zip" type="text" ng-model="$ctrl.info.zip_code" ng-disabled="true">

    <h2 class="rec-title">Recommendations</h2>
    <!-- Recommendation 1 Field -->
    <div class="rec">
      <label>1.</label>
      <input class="pending-sitter" id="rec-name-1" type="text" ng-model="$ctrl.info.recommendation_one_name" ng-disabled="true">
      <input class="pending-sitter" id="rec-phone-1" type="text" ng-model="$ctrl.info.recommendation_one_email" ng-disabled="true">
    </div>
    <!-- Recommendation 2 Field -->
    <div class="rec">
      <label>2.</label>
      <input class="pending-sitter" id="rec-name-2" type="text" ng-model="$ctrl.info.recommendation_two_name" ng-disabled="true">
      <input class="pending-sitter" id="rec-phone-2" type="text" ng-model="$ctrl.info.recommendation_two_email" ng-disabled="true">
    </div>
    <!-- Recommendation 3 Field -->
    <div class="rec">
      <label>3.</label>
      <input class="pending-sitter" id="rec-name-3" type="text" ng-model="$ctrl.info.recommendation_three_name" ng-disabled="true">
      <input class="pending-sitter" id="rec-phone-3" type="text" ng-model="$ctrl.info.recommendation_three_email" ng-disabled="true">
    </div>
  </section>
  <!-- ******************************
   Key Information Section
  ******************************* -->
  <section class="key-info">
    <h2>Key Information</h2>
    <!-- Certifications Field -->
    <div class="cert">
      <label>Certifications</label>
      <div class="cert-container" ng-show="$ctrl.info.cpr_certification === true">
        <input class="pending-sitter" id="cpr" type="text" value="CPR Certified" ng-disabled="true">
      </div>
      <div class="cert-container" ng-show="$ctrl.info.first_aid_certification === true">
        <input class="pending-sitter" id="first-aid" type="text" value="First Aid Certified" ng-disabled="true">
      </div>
    </div>
    <!-- Hourly Rate Field -->
    <label for="rate">Hourly Rate:</label>
    <input class="pending-sitter" id="rate" type="text" ng-model="$ctrl.info.hourly_rate" ng-disabled="true">
    <!-- Age Field -->
    <label for="birthday">Age:</label>
    <input class="pending-sitter" id="birthday" type="text" ng-value="$ctrl.calculateAge($ctrl.info.birthday)" ng-disabled="true">
    <!-- Joined Field -->
    <label for="joined">Joined:</label>
    <input class="pending-sitter" type="text" name="name" ng-value="$ctrl.info.joined | date: 'MM/dd/yyyy'" ng-disabled="true">

    <span class="pending-sitter-buttons">
      <button class="pending-sitter" ng-click="$ctrl.approve($ctrl.info.id)" type="button">Approve</button>
      <button class="pending-sitter" ng-click="$ctrl.popup()" ng-class="{'redDelete': $ctrl.visibility}" type="button">Delete</button>
    </span>
  </section>


  <div ng-class="{'visible': $ctrl.visibility}" class="popup" role="alert">
    <div class="popup-container">
      <a ng-click="$ctrl.popup()" class="close img-replace"></a>
      <p>Are you sure you want to delete this nanny?</p>
      <ul class="popup-buttons">
        <li ng-click="$ctrl.delete($ctrl.info.id)">Yes</li>
        <li ng-click="$ctrl.popup()">No</li>
      </ul>
    </div>
  </div>

</div>
