<div class="directory-container pending-sitters">
  <div class="list-wrapper">

    <div class="search">
      <h1>Pending Babysitters</h1>
      <input type="text" ng-model="searchBox" placeholder="Search">
    </div>
    <div class="list">
      <div class="title-container dropdown-container">
        <h4>Total: {{$ctrl.babysitters.length}}</h4>
        <div class="county">
          <h4>{{$ctrl.selectedCounty || "All Counties"}}, NC</h4>
          <i ng-class="{'arrowActive': $ctrl.dropIt}" ng-click="$ctrl.dropdown()" class="fa fa-angle-down"></i>
          <div ng-show="$ctrl.dropIt" class="counties">
            <li ng-click="$ctrl.selectCounty('')">All Counties</li>
            <ul ng-repeat="county in $ctrl.counties">
              <li ng-click="$ctrl.selectCounty(county)">{{county}}</li>
            </ul>
          </div>
        </div>
      </div>

    <div class="family-table" id="pending-sitter-list">
      <ul class="table-head">
        <li ng-click=$ctrl.sortBy('last_name')>Babysitter</li>
        <li ng-click=$ctrl.sortBy('$ctrl.calculateAge($ctrl.sitter.birthday)')>Age</li>
        <li ng-click=$ctrl.sortBy('email')>Email</li>
        <li ng-click=$ctrl.sortBy('certified')>Certified</li>
        <li ng-click=$ctrl.sortBy('created_at')>Applied</li>
        <li>Application</li>
      </ul>

      <div class="table-body">
        <ul dir-paginate="sitter in $ctrl.babysitters | orderBy: $ctrl.columnSort : $ctrl.reverse | filter: searchBox | filter: $ctrl.selectedCounty |itemsPerPage: 5">
          <pending-babysitter sitter="sitter"></pending-babysitter>
        </ul>
      </div>
    </div>
    <dir-pagination-controls max-size="5"></dir-pagination-controls>
  </div>
</div>
