<form name="familyForm" ng-submit="">

  <!-- Phone Field -->
  <label for="phone">Phone:</label>
  <input name="phone" id="phone" type="text" ng-model="$ctrl.info.phone" ng-model-options="{updateOn: 'blur'}" ng-change="$ctrl.updateCurrent( 'phone', $ctrl.info.phone)">
  <!-- Email Field -->
  <label for="email">Email:</label>
  <input name="phone" id="email" type="text" ng-model="$ctrl.info.email" ng-model-options="{updateOn: 'blur'}" ng-change="$ctrl.updateCurrent( 'email', $ctrl.info.email)">
  <!-- Street Field -->
  <label for="street">Street:</label>
  <input name="phone" id="street" type="text" ng-model="$ctrl.info.street" ng-model-options="{updateOn: 'blur'}" ng-change="$ctrl.updateCurrent( 'street', $ctrl.info.street)">
  <!-- City Field -->
  <label for="city">City:</label>
  <input name="phone" id="city" type="text" ng-model="$ctrl.info.city" ng-model-options="{updateOn: 'blur'}" ng-change="$ctrl.updateCurrent( 'city', $ctrl.info.city)">
  <!-- County Field -->
  <label for="count">County:</label>
  <input name="phone" id="county" type="text" ng-model="$ctrl.info.county" ng-model-options="{updateOn: 'blur'}" ng-change="$ctrl.updateCurrent( 'county', $ctrl.info.county)">
  <!-- State Field -->
  <label for="state">State:</label>
  <input name="phone" id="state" type="text" ng-model="$ctrl.info.state" ng-model-options="{updateOn: 'blur'}" ng-change="$ctrl.updateCurrent( 'state', $ctrl.info.state)">
  <!-- zip Field -->
  <label for="zip">Zip Code:</label>
  <input name="phone" id="zip" type="text" ng-model="$ctrl.info.zip_code" ng-model-options="{updateOn: 'blur'}" ng-change="$ctrl.updateCurrent( 'zip_code', $ctrl.info.zip_code)">
  <!-- About Field -->
  <label for="about">About:</label>
  <textarea name="about" rows="4" cols="50" ng-model="$ctrl.info.about" ng-model-options="{updateOn: 'blur'}" ng-change="$ctrl.updateCurrent( 'about', $ctrl.info.about)">
  </textarea>

  <button type="button" name="approve" ng-click="$ctrl.handleToggle($ctrl.info.family_id)">
    {{$ctrl.info.active ? 'Deny Application' : 'Approve Application'}}
  </button>
</form>
