<div id="nanny-dashboard-container">

  <div class="dashboard-container">
    <!-- ******************************
     Scheduled Jobs Section
    ******************************* -->
    <section class="applications">
      <div class="title-container">
        <h2>Your Scheduled Jobs</h2>
      </div>
      <table>
        <tr>
          <th>Family</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
        <tr ng-repeat="job in $ctrl.scheduledJob">
          <td>{{job.family_name}}</td>
          <td>{{job.date}}</td>
          <td>{{job.start_time}} - {{job.end_time}}</td>
        </tr>
      </table>
    </section>
    <!-- ******************************
    Parent Requests Jobs Section
    ******************************* -->
    <section class="applications">
      <div class="title-container">
        <h2>Needs Your Confirmation</h2>
      </div>
      <table>
        <tr>
          <th>Family</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
        <tr ng-repeat="job in $ctrl.requestedJob">
          <td>{{job.family_name}}</td>
          <td>{{job.date}}</td>
          <td>{{job.start_time}} - {{job.end_time}}</td>
        </tr>
      </table>
    </section>

  </div>
</div>
