<div id="nanny-dashboard-container">

  <h1>Nanny Dashboard</h1>
  <div class="dashboard-container">
    <!-- ******************************
     Parent Requests Jobs Section
    ******************************* -->
    <section class="applications">
      <div class="title-container">
        <h2>Requested Jobs</h2>
      </div>
      <table>
        <tr>
          <th>From</th>
          <th>Role</th>
          <th>Sent</th>
        </tr>
        <tr ng-repeat="person in dashboard.application">
          <td>{{person.name}}</td>
          <td>{{person.role}}</td>
          <td>{{person.submitted}}</td>
        </tr>
      </table>
    </section>
    <!-- ******************************
     Scheduled Jobs Section
    ******************************* -->
    <section class="applications">
      <div class="title-container">
        <h2>Scheduled Jobs</h2>
      </div>
      <table>
        <tr>
          <th>From</th>
          <th>Role</th>
          <th>Sent</th>
        </tr>
        <tr ng-repeat="person in dashboard.application">
          <td>{{person.name}}</td>
          <td>{{person.role}}</td>
          <td>{{person.submitted}}</td>
        </tr>
      </table>
    </section>

  </div>
</div>
