<div class="container" id="nanny-dashboard">
  <!-- ******************************
   Top Navigation
  ******************************* -->
  <header>
    <nav>
      <h4 ui-sref="dashboard"><i class="fa fa-home"></i>Dashboard</h4>
      <h4>Nanny<span>Dash</span></h4>
      <div class="user">
        <i class="fa fa-user" aria-hidden="true"></i>
        <h4>Hey, Nanny Fanny</h4>
        <button ng-click="$ctrl.signOut()">Log Out</button>
      </div>
    </nav>
  </header>

  <!-- <h1>Welcome to the NannyDash Portal!</h1> -->

  <nav id="nanny-nav">
    <section class="nanny-directory">
      <div class="title">
        <h2>List of scheduled jobs</h2>
      </div>
      <button ui-sref="upcomingJobs" type="button" name="button">{{$ctrl.count.new_jobs}} | Upcoming Jobs</button>
    </section>
    <section class="nanny-directory">
      <div class="title">
        <h2>All available jobs</h2>
      </div>
      <button ui-sref="newNannyJobs" type="button" name="button">{{$ctrl.count.all_jobs}} | All Jobs</button>
    </section>
    <section class="nanny-directory">
      <div class="title">
        <h2>List of families</h2>
      </div>
      <button ui-sref="parentDirectory" type="button" name="button">{{$ctrl.count.pending_parents}} | Parents</button>
    </section>
    <section class="nanny-directory">
      <div class="title">
        <h2>Messaging Center</h2>
      </div>
      <button ui-sref="messaging" type="button" name="button">{{$ctrl.count.new_messages}} | Messages</button>
    </section>
  </nav>

  <main>
    <div class="main-container">

      <ui-view>LOADING . . . </ui-view>

    </div>
  </main>

</div>
