<div class="container" id="nanny-dashboard" ng-cloak>
  <!-- ******************************
   Top Navigation
  ******************************* -->
  <header>
    <nav>
      <h4 ui-sref="nanny_dashboard"><i class="fa fa-home"></i>Dashboard</h4>
      <h4>Nanny<span>Dash</span></h4>
      <div class="user">
        <i class="fa fa-user" aria-hidden="true"></i>
        <h4>Hey, {{$ctrl.user.first_name}}</h4>
        <button class="logOutButton" ng-click="$ctrl.signOut()">Log Out</button>
      </div>
    </nav>
  </header>

  <!-- <h1>Welcome to the NannyDash Portal!</h1> -->
  <nav id="nanny-nav">
    <ul>
      <li>
        <div class="title">
          <h2>Needs parent confirmation</h2>
        </div>
        <button ui-sref="upcomingJobs" type="button" name="button">{{$ctrl.count.assigned_jobs}} | Pending Jobs</button>
      </li>
      <li>
        <div class="title">
          <h2>Needs nanny</h2>
        </div>
        <button ui-sref="newNannyJobs" type="button" name="button">{{$ctrl.count.unassigned_jobs}} | All Jobs</button>
      </li>
      <li>
        <div class="title">
          <h2>Family directory</h2>
        </div>
        <button ui-sref="parentDirectory" type="button" name="button">{{$ctrl.count.all_families}} | Parents</button>
      </li>
      <li>
        <div class="title">
          <h2>Messaging Center</h2>
        </div>
        <button ui-sref="conversations" type="button" name="button">{{$ctrl.count.new_messages}} | Unread Messages</button>
      </li>
    </ul>
  </nav>

  <div id="nav-trigger">
    <span>Menu</span>
  </div>

  <nav id="nav-mobile">
    <ul>
      <li>
        <a ui-sref="upcomingJobs">Scheduled Jobs</a>
      </li>
      <li>
        <a ui-sref="newNannyJobs">All Jobs</a>
      </li>
      <li>
        <a ui-sref="parentDirectory">Parents</a>
      </li>
      <li>
        <a ui-sref="conversations">Messages</a>
      </li>
    </ul>
  </nav>

  <main>
    <div class="main-container">

      <ui-view>LOADING . . . </ui-view>

    </div>
  </main>

</div>
