<div class="new-jobs-info-wrapper">
  <div class="directory-container new-nanny-job-info">

    <div class="list">
      <div class="title-container">
        <div class="envelope">
          <h4>Job Details</h4>
        </div>
      </div>
    </div>

    <form>
    <section class="basic-info">
      <h2>Basic Information</h2>
      <!-- Family -->
      <label for="name">Name:</label>
      <input type="text" name="name" ng-model="$ctrl.jobInfo.name" ng-disabled="true">
      <!-- Phone Field -->
      <label for="phone">Phone:</label>
      <input id="phone" type="text" ng-model="$ctrl.jobInfo.phone" ng-disabled="true">
      <!-- Email Field -->
      <label for="email">Email:</label>
      <input id="email" type="text" ng-model="$ctrl.jobInfo.email" ng-disabled="true">
      <!-- Street Field -->
      <label for="street">Street:</label>
      <input id="street" type="text" ng-model="$ctrl.jobInfo.street" ng-disabled="true">
      <!-- City Field -->
      <label for="city">City:</label>
      <input id="city" type="text" ng-model="$ctrl.jobInfo.city" ng-disabled="true">
      <!-- State Field -->
      <label for="state">State:</label>
      <input id="state" type="text" ng-model="$ctrl.jobInfo.state" ng-disabled="true">
      <!-- Zip Field -->
      <label for="zip">Zip Code:</label>
      <input id="zip" type="text" ng-model="$ctrl.jobInfo.zip_code" ng-disabled="true">
      <!-- Notes Field -->
      <label for="name">Notes:</label>
      <textarea type="text" name="posted" value="">{{$ctrl.jobInfo.notes === "" ? "None" : $ctrl.jobInfo.notes}}</textarea>

    </section>

    <section class="key-info">
      <h2>Key Information</h2>
      <label for="name">Job Needed For:</label>
      <input type="text" value="{{$ctrl.jobInfo.date}}" ng-disabled="true">
      <input type="text" value="{{$ctrl.jobInfo.start_time + ' - ' + $ctrl.jobInfo.end_time}}" ng-disabled="true">
      <label for="name">Date Posted:</label>
      <input type="text" name="posted" value="" ng-model="$ctrl.jobInfo.date_posted" ng-disabled="true">
      <button ng-click="$ctrl.popup()" ng-disabled="$ctrl.jobInfo.is_assigned" class="request-button" ng-class="{'yellowRequest': $ctrl.visibility || $ctrl.jobInfo.is_assigned}" type="button">{{$ctrl.jobInfo.is_assigned ? "Assigned" : "Request Job"}}</button>
    </section>
    </form>

    <div ng-class="{'visible': $ctrl.visibility}" class="popup" role="alert">
    	<div class="popup-container">
        <a ng-click="$ctrl.popup()" class="close img-replace"></a>
    		<p>Are you sure you want to request this job?</p>
    		<ul class="popup-buttons">
    			<li ng-click="$ctrl.assign($ctrl.jobInfo.job_id)">Yes</li>
    			<li ng-click="$ctrl.popup()">No</li>
    		</ul>
    	</div>
    </div>

  </div>
</div>
