<div id="family-profile-wrapper" class="nanny-profile-wrapper">
  <div class="directory-container">

    <div class="list">
      <div class="title-container">
        <div ui-sref="newMessage" class="envelope">
          <h4>Message</h4>
          <span></span>
        </div>
      </div>
    </div>
    <div class="profile-container">
      <section class="name">
        <h1>{{$ctrl.parent.first_name}} {{$ctrl.parent.last_name}}</h1>
        <%= image_tag("placeholder.jpeg", :alt => "Preview image on landing page") %>
        <span ng-class="{'active': $ctrl.parent.active, 'inactive': !$ctrl.parent.active}">
        {{$ctrl.parent.active ? 'active' : 'inactive'}}
        </span>
      </section>

      <section class="basic-info">
        <h2>Basic Information</h2>

        <form name="familyForm" ng-submit="">
          <!-- Phone Field -->
          <label for="phone">Phone:</label>
          <input name="phone" id="phone" type="text" ng-model="$ctrl.parent.phone" ng-disabled="true">
          <!-- Email Field -->
          <label for="email">Email:</label>
          <input name="phone" id="email" type="text" ng-model="$ctrl.parent.email" ng-disabled="true">
          <!-- Street Field -->
          <label for="street">Street:</label>
          <input name="phone" id="street" type="text" ng-model="$ctrl.parent.street" ng-disabled="true">
          <!-- City Field -->
          <label for="city">City:</label>
          <input name="phone" id="city" type="text" ng-model="$ctrl.parent.city" ng-disabled="true">
          <!-- County Field -->
          <label for="count">County:</label>
          <input name="phone" id="county" type="text" ng-model="$ctrl.parent.county" ng-disabled="true">
          <!-- State Field -->
          <label for="state">State:</label>
          <input name="phone" id="state" type="text" ng-model="$ctrl.parent.state" ng-disabled="true">
          <!-- zip Field -->
          <label for="zip">Zip Code:</label>
          <input name="phone" id="zip" type="text" ng-model="$ctrl.parent.zip_code" ng-disabled="true">
          <!-- About Field -->
          <label for="about">About:</label>
          <textarea name="about" rows="4" cols="50" ng-model="$ctrl.parent.about" ng-disabled="true">
          </textarea>
        </form>

      </section>
    </div>
  </div>
</div>
